<template>
<div>
 <a-row :gutter="16">
            <a-col :span="12">
           <div class="items">

           </div>
            </a-col>
            <a-col :span="12">
            <div class="cart">
                
            </div>
            </a-col>
</a-row>
</div>
   
</template>

<script>
export default {
    
}
</script>
