<template>
  <div id="setting_form">
  
    <a-form :layout="formLayout">
      <a-form-item label="Outlet Name" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-input id="name" v-model="name" />
      </a-form-item>
      <a-form-item label="Mobile Number" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-input id="mobile" v-model="mobile" />
      </a-form-item>
      <a-form-item label="Operating Stations" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-select :notFoundContent="null" :value="stations" @search="handleSearch" showSearch @change="handleChange" mode="multiple" :defaultValue="stations" style="width: 150px" placeholder="Please select">
          <a-select-option v-for="station in stationsList" :key="`${station.code}-${station.name}`">{{`${station.code}-${station.name}`}}</a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="Delivery Boys" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-select mode="multiple" :defaultValue="['Rahul', 'VIJAY']" style="width: 100%" placeholder="Please select">
          <a-select-option v-for="i in ['Ramesh','Suresh']" :key="i">{{i}}</a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="City" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-input id="city" v-model="city" />
  
      </a-form-item>
      <a-form-item label="Opens At" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-time-picker :minuteStep="10" id="opensAt" name="opensAt" :value="moment(opensAt||'23:59','HH:mm')" format="HH:mm" @change="(e)=>{this.opensAt= e.format('HH:mm')}" />
      </a-form-item>
      <a-form-item label="Closes At" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-time-picker :minuteStep="10" id="closesAt" name="closesAt" :value="moment(closesAt||'23:59','HH:mm')" format="HH:mm" @change="(e)=>{this.closesAt= e.format('HH:mm')}" />
        <!-- <a-input type="" id="closesAt" v-model="closesAt" /> -->
      </a-form-item>
      <a-form-item label="Delivery In (Minutes)" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-input type="" id="deliverySLA" v-model="deliverySLA" />
      </a-form-item>
      <a-radio-group id="type" name="type" :value="type" @change="(e)=>{this.type=e.target.value}" buttonStyle="solid">
        <a-radio-button value="veg">Pure Veg</a-radio-button>
        <a-radio-button value="nonveg">Non Veg</a-radio-button>
      </a-radio-group>
      <a-form-item label="Minimum Amount" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-input type="" id="minAmount" v-model="minAmount" />
      </a-form-item>
  
  
      <a-form-item label="Maximum Amount" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-input type="" id="maxAmount" v-model="maxAmount" />
      </a-form-item>
      <a-form-item :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
        <a-button @click="saveDetails" type="primary">
          Save
        </a-button>
      </a-form-item>
    </a-form>
    <hr>
    <div style="border:1px solid #e5e5e5;">
      <template>
             <a-input placeholder="Search"/>
             <a-table rowKey="_id" :rowSelection="{selectedRowKeys: selectedRowKeys, onChange: onSelectChange}" :columns="columns" :dataSource="items" />
</template>

</div>  
 </div>
</template>

<script>
  import makerequest from '../../utilities/makerequest'
  import moment from 'moment'
  import stations from '../../constants/stations.js'
  import {
    mapGetters,
    mapActions,
    mapState
  } from 'vuex'
  import {
    notification
  } from 'ant-design-vue'
  const columns = [{
      title: 'Name',
      dataIndex: 'name',
    }, {
      title: 'Description',
      dataIndex: 'description',
    }, {
      title: 'Price',
      dataIndex: 'price',
    }, {
      title: 'Time Slot',
      dataIndex: 'time',
    },
    {
      title: 'Status',
      dataIndex: 'status',
    }
  ];
  
  
  export default {
    name: 'EditOutlet',
    props: [],
  
    data() {
      return {
        formLayout: 'inline',
        columns,
        selectedRowKeys: [],
        loading: false,
        name: '',
        mobile: '',
        stations: [],
        deliveryBoys: [],
        city: '',
        opensAt: "",
        closesAt: "",
        deliverySLA: "",
        minAmount: "",
        maxAmount: "",
        type: "veg",
        searchStation: "",
        stationsList: [],
        selectedItems: [],
        outletId: ''
  
      }
    },
    computed: {
      ...mapGetters({
        vendorInfo: 'getVendorInfo',
  
      }),
      ...mapState({
        items: state => {
          return state.itembyvendor.map(item => {
            item["time"] = `${item.opensAt} to ${item.closesAt}`
            return item
          })
  
        }
      }),
      hasSelected() {
        return this.selectedRowKeys.length > 0
      },
      formItemLayout() {
        const {
          formLayout
        } = this;
        return formLayout === 'horizontal' ? {
          labelCol: {
            span: 0
          },
          wrapperCol: {
            span: 10
          },
        } : {};
      },
      buttonItemLayout() {
        const {
          formLayout
        } = this;
        return formLayout === 'horizontal' ? {
          wrapperCol: {
            span: 0,
            offset: 4
          },
        } : {};
      }
    },
    mounted() {
      this.getItems()
      if (this.$route.params.outletId == "new") {
        this.mobile = this.vendorInfo.mobile
        this.opensAt = this.vendorInfo.opensAt
        this.closesAt = this.vendorInfo.closesAt
        this.deliverySLA = this.vendorInfo.deliverySLA
        this.type = this.vendorInfo.type
        this.minAmount = this.vendorInfo.minAmount
        this.maxAmount = this.vendorInfo.maxAmount
        this.selectedRowKeys = []
      } else {
        makerequest.postAuth('outletbyid', {
            "data": {
              "outletId": this.$route.params.outletId
            }
          })
          .then((response) => {
            if (!response.data.error) {
              let data = response.data.data
              this.name = data.name
              this.opensAt = data.opensAt
              this.mobile = data.mobile
              this.city = data.city
              this.closesAt = data.closesAt
              this.deliverySLA = data.deliverySLA
              this.type = data.type
              this.stations = data.stations
              this.minAmount = data.minAmount
              this.maxAmount = data.maxAmount
              this.selectedRowKeys = data.items
            }
          })
          .catch((error) => {
            notification.error({
              message: 'Something went wrong'
            })
          })
      }
    },
    methods: {
      ...mapActions({
        getItems: "getItemByVendorAction"
      }),
      moment,
  
      onSelectChange(selectedRowKeys) {
        this.selectedRowKeys = selectedRowKeys
      },
      saveDetails() {
  
        let data = {
          name: this.name,
          city: this.city,
          opensAt: this.opensAt,
          closesAt: this.closesAt,
          deliverySLA: this.deliverySLA,
          stations: this.stations.map(station => station.split('-')[0]),
          type: this.type,
          minAmount: this.minAmount,
          maxAmount: this.maxAmount,
          mobile: this.mobile,
          items: this.selectedRowKeys
        }
        let url = '',
          message = ''
  
        if (this.$route.params.outletId == "new") {
          url = 'outlets/add'
          message = "Outlet created successfully"
        } else {
          message = "Outlet details updated successfully"
          url = 'outlets/update'
          data["outletId"] = this.$route.params.outletId
        }
        makerequest.postAuth(url, {
            data
          }).then((response) => {
            if (!response.data.error) {
              notification.success({
                message
              })
            }
          })
          .catch((err) => {
            notification.error({
              message: "Error occured"
            })
          })
      },
      handleSearch(value) {
        if (value.length > 1) {
          let st = stations.filter((station) => {
            if ((station.code.toLowerCase().indexOf(value.toLowerCase()) != -1) || (station.name.toLowerCase().indexOf(value.toLowerCase()) != -1))
              return true
          })
          st.sort(function(a, b) {
            return parseFloat(b.trains) - parseFloat(a.trains);
          });
  
          this.stationsList = st
        } else
          this.stationsList = []
      },
      handleChange(value) {
        this.stations = value
      }
    }
  }
</script>

<style>
  .setting_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
</style>


