<template>
   <div id="setting_form">
  <a-form style="width:800px" @submit="saveDetails" :layout="formLayout" >
                 <a-form-item
        label="Email"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
        
      >
        <a-input id="email" :value="vendorInfo.email" @input="updateStore"/>
      </a-form-item>       <a-form-item
        label="Restaurant Name"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
        
      >
        <a-input id="regName" :value="vendorInfo.regName" @input="updateStore"/>
      </a-form-item>
            <a-form-item
        label="Owner Name"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input id="name"  :value="vendorInfo.name" @input="updateStore"/>
      </a-form-item>
       <a-form-item
        label="Restaurant Address"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input id="address"  :value="vendorInfo.address" @input="updateStore"/>
      
      </a-form-item>
       <a-form-item
        label="Mobile"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input type="number" id="mobile"  :value="vendorInfo.mobile" @input="updateStore"/>
      </a-form-item>
      <a-button @click="saveDetails" type="primary">
          Save
        </a-button>
            </a-form>
 </div>
</template>
<script>
import makerequest from '../../utilities/makerequest'
import {notification} from 'ant-design-vue'
export default {
    name:'GeneralSettings',
    props:['vendorInfo','updateStore','update'],
    data(){
    return{
     formLayout: 'horizontal',
    }
    },
    computed:{
         formItemLayout () {
      const { formLayout } = this;
      return formLayout === 'horizontal' ? {
        labelCol: { span: 4 },
        wrapperCol: { span: 14 },
      } : {};
    },
    buttonItemLayout () {
      const { formLayout } = this;
      return formLayout === 'horizontal' ? {
        wrapperCol: { span: 14, offset: 4 },
      } : {};
    }
    },
methods:{
    saveDetails(){
      this.update()
    }
}
}
</script>
<style>
.setting_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
</style>


