<template>
  <a-layout id="components-layout-demo-top" class="layout">
    <a-layout-header class="header">
      <div class="logo">
        YTZ
      </div>
      <a-menu theme="dark" mode="horizontal" :defaultSelectedKeys="defaultMenu" class="menu">
        <a-menu-item @click="$router.history.push('/vendor/home')" key="home">Home</a-menu-item>
        <a-menu-item @click="$router.history.push('/vendor/inventory')" key="inventory">Inventory</a-menu-item>
        <a-menu-item @click="$router.history.push('/vendor/settings')" key="settings">Settings</a-menu-item>
        <a-menu-item @click="$router.history.push('/vendor/outlets')" key="outlets">Outlets</a-menu-item>
        <a-menu-item @click="$router.history.push('/vendor/orders')" key="orders">Reports/Orders</a-menu-item>
        <a-menu-item @click="$router.history.push('/vendor/multichannel')" key="multichannel">Multichannel Reporting</a-menu-item>
  
      </a-menu>
      <a-switch @change="changeStoreStatus" :checked="vendorInfo.status == 'active' ?true:false" checkedChildren="Open" unCheckedChildren="Closed" />
      <div style="display: inline;font-size: 12px;padding: 16px;color: white;height: inherit;">
        <a-icon type="logout" @click="logout" />
  
      </div>
    </a-layout-header>
    <a-layout-content class="content">
      <router-view></router-view>
    </a-layout-content>
  
    <!-- <a-layout-footer class="footer" >
        <p>&copy; 2019 yowza-techies.com</p>
      </a-layout-footer> -->
  </a-layout>
</template>

<script>
  import getCookie from '../../utilities/getcookie'
  import setCookie from '../../utilities/setcookie'
  import jwtDecode from 'jwt-decode'
  import {
    mapGetters,
    mapActions
  } from 'vuex'
  import makerequest from '../../utilities/makerequest';
  import {
    notification
  } from 'ant-design-vue';
  export default {
    name: 'Home',
  
    methods: {
      redirect: () => {
        alert()
      }
    },
    computed: {
      ...mapGetters({
        vendorInfo: 'getVendorInfo'
      }),
      defaultMenu() {
        return [this.$route.name]
      }
    },
    methods: {
      logout() {
        setCookie("Authrization", "")
        this.$router.history.push('/loginvendor')
      },
      changeStoreStatus(active) {
  
        makerequest.postAuth('vendor/changestatus', {
            data: {
              vendorId: this.vendorInfo._id,
              status: active ? 'active' : 'sleep'
            }
          })
          .then((response) => {
            let vendorInfo = { ...this.vendorInfo
            }
            vendorInfo["status"] = active ? 'active' : 'sleep'
            this.$store.commit('setVendorInfo', vendorInfo)
            notification.success({
              message: `Store ${active?'opened':'closed'} for orders`
            })
  
          })
          .catch((error) => {
            notification.error({
              message: 'something went wrong'
            })
  
          })
  
      },
      ...mapActions({
        getVendorDetails: 'getVendorDetails'
      })
    },
    mounted() {
  
      this.getVendorDetails();
    }
  }
</script>




<style>
  #components-layout-demo-top .logo {
    width: 120px;
    height: 46px;
    /* height: 31px; */
    background: rgba(255, 255, 255, .2);
    /* margin: 16px 24px 16px 0; */
    float: left;
    padding: 20px;
  }
  
  #components-layout-demo-top .footer {
    text-align: right;
    height: 38px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
    left: 0;
  }
  
  #components-layout-demo-top .content {
    position: absolute;
    bottom: 38px;
    right: 0;
    left: 0;
    top: 46px;
    padding: 16px;
    height: 100%;
  }
  
  #components-layout-demo-top .header {
    background: #001529;
    padding: 0 50px;
    height: 46px;
    line-height: 0;
  }
  
  #components-layout-demo-top .menu {
    float: left;
    margin-left: 29px;
  }
</style>

<style>
  .header .ant-switch {
    background-color: red;
  }
  
  .header .ant-switch-checked {
    background-color: green;
  }
</style>
