<template>
  <div>
    <a-row style="padding-bottom:5px;">
      <a-col :span="3">
        <h2 style="color:darkcyan">
          <a-icon type="appstore" />Items</h2>
      </a-col>
      <a-col :span="10"></a-col>
      <a-col :span="8">
        <a-button style=" padding-left:5px;    background-color: darkcyan;" type="primary" @click="AddItem">
          <a-icon type="plus" /> Add Item
        </a-button>
      </a-col>
    </a-row>
    <a-drawer :title="title" :width="720" @close="onClose" :visible="visible" :wrapStyle="{height: 'calc(100% - 108px)',overflow: 'auto',paddingBottom: '108px'}">
      <a-alert v-if="show" :type="alerttype" :message="alertmessage" transition="expand" banner />
      <a-form :form="form" @submit="handleSubmit">
  
  
        <a-form-item v-bind="formItemLayout">
          <span slot="label">
           Item Name&nbsp;
           
          </span>
          <a-input placeholder="Item Name" :value="name" v-model="name" />
        </a-form-item>
  
        <a-form-item v-bind="formItemLayout" label="Cuisine" has-feedback>
          <a-select :defaultValue="cuisine" v-model="cuisine" placeholder="Please select a cuisine">
            <a-select-option value="North Indian">
              North Indian
            </a-select-option>
            <a-select-option value="South Indian">
              South Indian
            </a-select-option>
            <a-select-option value="Chinese">
              Chinese
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item v-bind="formItemLayout">
          <span slot="label">
           Price&nbsp;
           
          </span>
          <a-input :value="price" placeholder="Price" v-model="price" />
        </a-form-item>
        <a-form-item v-bind="formItemLayout">
          <span slot="label">
           Delivery SLA&nbsp;
           
          </span>
          <a-input v-model="deliverySLA" :value="deliverySLA" placeholder="Delivery SLA" />
        </a-form-item>
        <a-form-item v-bind="formItemLayout" label="Open At">
          <a-time-picker format="HH:mm" style="width:100%" :value="moment(opensAt || '00:00','HH:mm')" @change="(time)=>changeTime('opensAt',time)" />
        </a-form-item>
  
        <a-form-item v-bind="formItemLayout" label="Close At">
          <a-time-picker format="HH:mm" style="width:100%" :value="moment(closesAt || '23:59','HH:mm')" @change="(time)=>changeTime('closesAt',time)" />
        </a-form-item>
  
        <a-form-item v-bind="formItemLayout">
          <span slot="label">
           Tags&nbsp;
           
          </span>
          <a-input :value="tags" placeholder="Tags" v-model="tags" />
        </a-form-item>
   <a-form-item v-bind="formItemLayout" label="Image" extra="Only .png/.jpeg accept">
          <a-upload name="upload"  list-type="picture"
           :fileList="fileList"
           :remove="handleRemove"
           :beforeUpload="beforeUpload"
          >
            <a-button>
              <a-icon type="upload" /> Click to upload
            </a-button>
          </a-upload>
        </a-form-item>
        
        <a-form-item v-bind="tailFormItemLayout">
          <a-button  
            :disabled="fileList.length === 0"
            :loading="uploading"
            style="background-color: darkcyan;" type="primary" html-type="submit" v-if="add">
            Add
          </a-button>
          <a-button
           
      :disabled="fileList.length === 0"
      :loading="uploading"
       style="     background-color: darkcyan;" type="primary" v-if="saveitem" @click="()=>save()">
            Save Changes
          </a-button>
  
  
  
        </a-form-item>
      </a-form>
     
        <!-- <a-button
      type="primary"
      @click="handleUpload"
      :disabled="fileList.length === 0"
      :loading="uploading"
      style="margin-top: 16px"
    >
      {{uploading ? 'Uploading' : 'Start Upload' }}
    </a-button> -->
    </a-drawer>
    <a-row style="padding-bottom:5px;">
      <a-col :span="2">
      </a-col>
      <a-col :span="20">
  
  
        <a-row style="padding-bottom:5px">
          <a-input placeholder="Search Items" v-model="fitems" style="padding-bottom:5px;width: 63%;padding-left:5px;" />
          <a-select placeholder="Search Items by Cuisine" @change="setCuisine" style="width: 200px;padding-left: 5px;    padding-right: 5px;">
            <a-select-option value="North Indian">
              North Indian
            </a-select-option>
            <a-select-option value="South Indian">
              South Indian
            </a-select-option>
            <a-select-option value="Chinese">
              Chinese
            </a-select-option>
          </a-select>
          <a-input placeholder="Search Items by Tags" v-model="ftags" style="padding-bottom:5px;width: 18%;" />
        </a-row>
        <a-table :columns="columns" :dataSource="fItems" bordered>
       
          <span slot="status" class="table-operation" slot-scope="fItems">
         <a-switch checkedChildren="Active"  unCheckedChildren="Inactive" @mouseup="setItemId(fItems._id,fItems.name,fItems.cuisine,fItems.price,fItems.deliverySLA,fItems.opensAt,fItems.closesAt,fItems.tags)"   :checked="fItems.status == 'active' ?true:false"  @change="changeItemStatus"/></span>
          <template slot="operation" slot-scope="text, fItems">
          <div class='editable-row-operations'>
          
            <span >
              <a @click="() => edit(fItems._id,fItems.name,fItems.cuisine,fItems.price,fItems.deliverySLA,fItems.opensAt,fItems.closesAt,fItems.tags)">Edit</a>
            </span>
          </div>
</template>

<template slot="image" slot-scope="imagePath">
  <img 
  :src="'https://fms-storage.sgp1.digitaloceanspaces.com/items/'+imagePath.image" 
  style="width:50px" />
</template>
  </a-table></a-col></a-row>
  </div>
</template>

<script>
  const columns = [{
      title: 'Status',
  
  
      scopedSlots: {
        customRender: 'status'
      },
    },
    {
      title: 'Item',
  
  
      scopedSlots: {
        customRender: 'image'
      },
    },
    {
      title: 'Name',
      dataIndex: 'name',
      width: '25%',
      sorter: (a, b) => a.name.length - b.name.length,
  
      scopedSlots: {
        customRender: 'name'
      },
    }, {
      title: 'Cuisine',
      dataIndex: 'cuisine',
      width: '15%',
      scopedSlots: {
        customRender: 'cuisine'
      },
    }, {
      title: 'Tags',
      dataIndex: 'tags',
      width: '40%',
      scopedSlots: {
        customRender: 'tags'
      },
    },
    {
      title: 'Price',
      dataIndex: 'price',
      width: '15%',
      sorter: (a, b) => b.price.length - a.price.length,
      scopedSlots: {
        customRender: 'price'
      },
    }, {
      title: 'Edit',
      dataIndex: 'operation',
      scopedSlots: {
        customRender: 'operation'
      },
    }
  ]
  
  
  
  import axios from 'axios'
  import makeRequest from '../../utilities/makerequest'
  
  import {
    mapState
  } from "vuex";
  import {
    mapGetters
  } from "vuex";
  import {
    mapActions
  } from "vuex";
  import getCookie from '../../utilities/getcookie'
  import jwtDecode from 'jwt-decode'
  import moment from 'moment'
  import {
    close
  } from 'fs';
  import {
    notification
  } from 'ant-design-vue';
  export default {
    name: 'item',
  
  
    data: function() {
  
      return {
        fcuisine: '',
        rootSubmenuKeys: ['sub1', 'sub2', 'sub4'],
        openKeys: ['sub1'],
        add: false,
        saveitem: false,
        openform: false,
        cancel: false,
        additem: true,
        show: false,
        sortedInfo: null,
        alerttype: String,
        alertmessage: String,
        opensAt: '',
        closesAt: '',
        name: '',
        price: '',
        tags: '',
        cuisine: '',
        deliverySLA: '',
        itemid: String,
        fitems: '',
        ftags: '',
        columns,
        title: 'Add new item',
        visible: false,
        fileList: [],
        uploading: false,
        formItemLayout: {
          labelCol: {
            xs: {
              span: 24
            },
            sm: {
              span: 8
            },
          },
          wrapperCol: {
            xs: {
              span: 24
            },
            sm: {
              span: 16
            },
          },
        },
        tailFormItemLayout: {
          wrapperCol: {
            xs: {
              span: 24,
              offset: 0,
            },
            sm: {
              span: 16,
              offset: 8,
            },
          },
        },
      };
    },
    beforeCreate() {
      this.form = this.$form.createForm(this);
    },
    computed: {
      ...mapGetters({
        items: "getItembyVendor"
      }),
      fItems() {
  
        if (this.fitems.trim().length)
  
          return this.items.filter((item) => item.cuisine.toLowerCase().indexOf(this.fitems.toLowerCase()) != -1 || item.name.toLowerCase().indexOf(this.fitems.toLowerCase()) != -1 || item.tags.toLowerCase().indexOf(this.fitems.toLowerCase()) != -1)
        if (this.fcuisine.trim().length)
  
          return this.items.filter((item) => item.cuisine.toLowerCase().indexOf(this.fcuisine.toLowerCase()) != -1)
  
        if (this.ftags.trim().length)
  
          return this.items.filter((item) => item.tags.toLowerCase().indexOf(this.ftags.toLowerCase()) != -1)
  
        else
          return this.items
      }
  
    },
  
    methods: {
        handleRemove(file) {
      const index = this.fileList.indexOf(file);
      const newFileList = this.fileList.slice();
      newFileList.splice(index, 1);
      this.fileList = newFileList
    },
  beforeUpload(file) {
      this.fileList = [...this.fileList, file]
      return false;
    }
    ,
      showDrawer() {
        this.visible = true
      },
      onClose() {
        this.visible = false
      },
      setCuisine(value) {
        this.fcuisine = value
      },
      moment,
  
  
      changeTime(state, time) {
        this[state] = time.format("HH:mm")
      },
      AddItem() {
        this.reset();
        this.saveitem = false
        this.add = true
        this.showDrawer()
        this.title = 'Add Item'
      },
      ...mapActions({
        getItems: "getItemByVendorAction"
      }),
  
  
      handleSubmit(e) {
        e.preventDefault();
        this.form.validateFieldsAndScroll((err, values) => {
          
          if (!err) {


 const { fileList } = this;
      const formData = new FormData();
      formData.append('upload', fileList[0]);
      formData.append('name', 'upload');
      this.uploading = true
makeRequest.uploadAuth('upload', formData)
.then((res)=>{
  if(res.data == "error"){
     notification("Something went wrong")
  }
  else{


 var data = {
              "data": {
                "name": this.name,
                "cuisine": this.cuisine,
                "image": res.data,
                "price": this.price,
                "deliverySLA": this.deliverySLA,
                "opensAt": this.opensAt,
                "closesAt": this.closesAt,
                "tags": this.tags
              }
            };
            makeRequest.postAuth(`items/add`, data).then((response) => {
              if (response.data.message = "success") {
                this.getItems(true);
                this.reset();
               this.uploading = false;
               this.fileList=[] 
               
              }
  
  
            }).catch((response) => {
  
              notification.error({
                message: 'something went wrong'
              })
  
  
            })
  


  }
 
}).catch((err)=>{
  notification({
    message:"Something went wrong"
  })
})

           
  
  
          }
  
        });
      },
      edit(key, itemname, cuisine, price, deliverySLA, opensAt, closesAt, tags) {
        this.showDrawer()
        this.title = 'Edit Item'
        this.saveitem = true
        this.add = false
  
  
        this.itemid = key
        this.name = itemname
        this.cuisine = cuisine
        this.price = price
        this.deliverySLA = deliverySLA
        this.opensAt = opensAt
        this.closesAt = closesAt
        this.tags = tags
      },
      save() {
        this.openform = !this.openform
        var info = jwtDecode(getCookie('token'))
        var data = {
          "data": {
            "itemId": this.itemid,
            "name": this.name,
            "cuisine": this.cuisine,
            "image": "image",
            "price": this.price,
            "deliverySLA": this.deliverySLA,
            "opensAt": this.opensAt,
            "closesAt": this.closesAt,
            "vendorId": info._id,
            "tags": this.tags
  
          }
        };
  
        makeRequest.postAuth(`items/update`, data).then((response) => {
          if (!response.data.error) {
            this.getItems(true);
            this.reset()
            this.onClose()
            notification.success({
              message: `Item updated successfully`
            })
          }
  
  
  
        }).catch((response) => {
          this.alerttype = "error"
          this.alertmessage = response.response.data.data.message
          this.show = true
  
          setTimeout(() => {
            this.show = false;
          }, 2000);
        })
  
      },
      onOpenChange(openKeys) {
        const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1)
        if (this.rootSubmenuKeys.indexOf(latestOpenKey) === -1) {
          this.openKeys = openKeys
        } else {
          this.openKeys = latestOpenKey ? [latestOpenKey] : []
        }
      },
  
      reset() {
        this.opensAt = '',
          this.closesAt = '',
          this.name = '',
          this.price = '',
          this.tags = '',
          this.cuisine = '',
          this.deliverySLA = '',
          this.itemid = ''
      },
      setItemId(id, itemname, cuisine, price, deliverySLA, opensAt, closesAt, tags) {
        this.itemid = id
        this.name = itemname
        this.cuisine = cuisine
        this.price = price
        this.deliverySLA = deliverySLA
        this.opensAt = opensAt
        this.closesAt = closesAt
        this.tags = tags
      },
      changeItemStatus(checked) {
        var info = jwtDecode(getCookie('token'))
        let data = {
          "data": {
            "itemId": this.itemid,
            "name": this.name,
            "cuisine": this.cuisine,
            "image": "image",
            "price": this.price,
            "deliverySLA": this.deliverySLA,
            "opensAt": this.opensAt,
            "closesAt": this.closesAt,
            "vendorId": info._id,
            "tags": this.tags,
            "status": checked ? 'active' : 'inactive'
          }
  
        }
        makeRequest.postAuth('items/update', data)
  
          .then((response) => {
            this.getItems(true);
          })
          .catch((error) => {
            notification.error({
              message: 'something went wrong'
            })
  
  
          })
  
      },
      normFile(e) {
        console.log('Upload event:', e);
        if (Array.isArray(e)) {
          return e;
        }
        return e && e.fileList;
      },
  
  
  
    },
    mounted() {
      this.getItems();
    },
  
  }
</script>

<style>
  #components-layout-demo-basic {
    text-align: center;
  }
  
  #components-layout-demo-basic .ant-layout-header {
    background: darkcyan;
  }
  
  #components-layout-demo-basic .ant-layout-footer {
    background: black;
    color: #fff;
  }
  
  #components-layout-demo-basic .ant-layout-footer {
    line-height: 1.5;
  }
  
  #components-layout-demo-basic .ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
    width: 258px
  }
  
  #components-layout-demo-basic .ant-layout-content {
    color: #fff;
    min-height: 120px;
    line-height: 120px;
    background: white;
    width: 100%;
    padding: 10px 20px;
  }
  
  #components-layout-demo-basic>.ant-layout {
    margin-bottom: 48px;
  }
  
  #components-layout-demo-basic>.ant-layout:last-child {
    margin: 0;
  }
  
  #components-layout-demo-basic>.header {
    text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
  }
  
  .reg_head {
    border-bottom: 1px solid rgb(235, 237, 242);
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: large;
    font-weight: bold;
  }
  
  .editable-row-operations a {
    margin-right: 8px;
  }
</style>
