<template>
   <div id="setting_form">
  <a-form style="width:800px" @submit="saveDetails" :layout="formLayout" >
    <a-form-item
        label="Opens At"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
        
      >
  <a-time-picker :minuteStep="10" id="opensAt" name="opensAt" :value="moment(vendorInfo.opensAt||'00:00','HH:mm')" format="HH:mm" @change="(e)=>updateTime('opensAt',e)"/>

      </a-form-item>
            <a-form-item
        label="Closes At"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
   <a-time-picker :minuteStep="10" id="closesAt" name="closesAt" :value="moment(vendorInfo.closesAt||'23:59','HH:mm')" format="HH:mm" @change="(e)=>updateTime('closesAt',e)"/> 
     </a-form-item>
       <a-form-item
        label="Type"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
    <a-radio-group id="type" name="type" :value="vendorInfo.type"  @change="updateStore" buttonStyle="solid">
        <a-radio-button value="veg">Pure Veg</a-radio-button>
        <a-radio-button value="nonveg">Non Veg</a-radio-button>
    </a-radio-group>
      
      </a-form-item>
       <a-form-item
        label="Delivers In (Mins)"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input type="number" id="deliverySLA"  :value="vendorInfo.deliverySLA" @input="updateStore"/>
      </a-form-item>
      <a-form-item
        label="Maximum Amount"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input type="number" id="maxAmount"  :value="vendorInfo.maxAmount" @input="updateStore"/>
      </a-form-item>
      <a-form-item
        label="Minimum Amount"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input type="number" id="minAmount"  :value="vendorInfo.minAmount" @input="updateStore"/>
      </a-form-item>
      <a-button @click="saveDetails" type="primary">
          Save
        </a-button>
            </a-form>
 </div>
</template>
<script>
import makerequest from '../../utilities/makerequest'
import {notification} from 'ant-design-vue';
import moment from 'moment'
export default {
    name:'GeneralSettings',
    props:['vendorInfo','updateStore','update'],
    data(){
    return{
     formLayout: 'horizontal',
    }
    },
    computed:{
         formItemLayout () {
      const { formLayout } = this;
      return formLayout === 'horizontal' ? {
        labelCol: { span: 4 },
        wrapperCol: { span: 14 },
      } : {};
    },
    buttonItemLayout () {
      const { formLayout } = this;
      return formLayout === 'horizontal' ? {
        wrapperCol: { span: 14, offset: 4 },
      } : {};
    }
    },
methods:{
    saveDetails(){
      this.update()
    },
    moment,
    updateTime(id,time){
        this.updateStore({
          target:{
            id,
            value:time.format("HH:mm")
          }
            
        })
    }
}
}
</script>
<style>
.setting_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
</style>


