<template>
  <div>
    <a-modal title="Order Details" v-model="isDetailModalVisible" :footer="null">
      <div style="display: flex;justify-content: space-between;">
        <div>Id :{{order._id}}</div>
        <div>Total Amount : {{order.amount}}</div>
      </div>
      <div style="display: flex;justify-content: space-between;">
        <div>Name :{{order.name}}</div>
        <div>Mobile : {{order.mobile}}</div>
      </div>
      <div>
        <div v-for="(item, index) in order.order" :key="index" style="margin : 5px">
          {{item.name}} - QTY :{{item.qty}}
        </div>
      </div>
      <div style="display: flex;">
        <div>Comment : </div>
        <div> {{order.comments}}</div>
      </div>
      <div>
      </div>
    </a-modal>
    <div class="head">
      <h2>My Orders History</h2>
      <div>
        <!-- <a-button style="margin:0 4px;" type="primary" @click="$router.push('/vendor/createorder')"> Create order</a-button> -->
  
  
      </div>
    </div>
  
  
    <div class="filters">
      <div>
        <a-input v-model="searchOrderId" @pressEnter="fetchData" placeholder="Order id"> </a-input>
      </div>
  
      <div>
        Date Range :
        <a-range-picker format="DD-MM-YYYY" v-model="daterange" />
      </div>
      <div style="padding:0 12px;width:400px;display:flex">
        Status :
        <a-select mode="multiple" :defaultValue="['All']" style="width: 100%" v-model="status" @change="handleAll" placeholder="Please status">
          <a-select-option v-for='i in ["All","delivered","undelivered","partially_delivered","cancelled","returned","other"]' :key="i">{{i}}</a-select-option>
        </a-select>
      </div>
      <div>
        <a-button @click="fetchData" type="primary">
          Search
        </a-button>
        <a-button @click="download" type="primary">
          Download Report
        </a-button>
      </div>
  
    </div>
  
    <div class="report">
  
      <a-table :scroll="{y:260}" bordered :loading="isLoading" :pagination="false" rowKey="orderId" :columns="columns" :dataSource="data">
        <span slot="orderId" style="width:300px">Order Id</span>
        <a slot="orderId" style="width:300px" slot-scope="text" @click="()=>openModal(text)" :id="text">{{text}}</a>
  
        <span slot="createdOn" style="width:300px" slot-scope="time">
              {{moment(time).format("L")}} - {{moment(time).format("hh:mm a")}}
              
              <!-- {{time}} -->
              </span>
        <span slot="deliveredAt" style="width:300px" slot-scope="time">{{moment(time).format("L")}} - {{moment(time).format("hh:mm a")}}</span>
        <span slot="status" style="width:300px">Status</span>
        <span slot="status" style="width:300px" slot-scope="tag">
                <a-tag  color="blue" :key="tag">{{tag}}</a-tag>
              </span>
  
      </a-table>
      <a-pagination :rowSelection="{columnWidth:300}" style="margin-top:12px;float:right" :total="totalCount" @change="pageChange" :showTotal="(total, range) => `${range[0]}-${range[1]} of ${total} items`" :pageSize="10" />
    </div>
  </div>
</template>


<script>
  const columns = [{
    dataIndex: '_id',
    key: '_id',
    slots: {
      title: 'orderId'
    },
    width: 300,
    columnWidth:300,
    style:{
      background:'red'
    },
    scopedSlots: {
      customRender: 'orderId'
    },
  }, {
    dataIndex: 'name',
    key: 'name',
    width: 300,
    style:{
      background:'red'
    },
    title: "Customer Name"
  }, {
    dataIndex: 'mobile',
    title: 'Mobile',
    style:{
      background:'red'
    },
    width: 300,
    key: 'mobile'
  }, {
    dataIndex: 'createdOn',
    title: 'Order Date/Time',
    width: 300,
    key: 'createdOn',
    scopedSlots: {
      customRender: 'createdOn'
    }
  }, {
    dataIndex: 'deliveredAt',
    title: 'Delivery Date/Time',
    width: 300,
    key: 'deliveredAt',
    scopedSlots: {
      customRender: 'deliveredAt'
    }
  }, {
    dataIndex: 'outlet',
    title: 'Outlet Name',
    width: 300,
    key: 'outlet'
  }, {
    title: 'Amount',
    dataIndex: 'amount',
    width: 300,
    key: 'amount',
  }, {
    key: 'status',
    dataIndex: 'status',
    slots: {
      title: 'status'
    },
    width: 300,
    scopedSlots: {
      customRender: 'status'
    }
  }];
  
  import makeRequest from '../../utilities/makerequest.js'
  import moment from 'moment'
  import {
    notification
  } from 'ant-design-vue';
  export default {
    methods: {
      moment,
      download() {
  
      },
      pageChange(page, pageSize) {
        this.pageNo = page
        this.fetchData()
      },
      handleAll(values) {
        if (values[values.length - 1] == "All") {
          //all is selected
          this.status = ["All"]
        } else {
          if (values.indexOf("All") != -1) {
            let status = [...this.status]
            this.status = status.filter(stat => stat != "All")
          }
  
        }
      },
      fetchData() {
        let data = {
          limit: this.limit,
          offset: (this.pageNo - 1) * 10,
          status: this.status
        }
        if (this.daterange.length) {
          // debugger;
          this.daterange[0].set('hours', 0).set("minutes", 0).set("seconds", 0)
          this.daterange[1].set('hours', 23).set("minutes", 59).set("seconds", 59)
          data["stDate"] = this.daterange[0].toDate().getTime()
          data["endDate"] = this.daterange[1].toDate().getTime()
        }
        if (this.searchOrderId.trim().length) {
          data["searchOrderId"] = this.searchOrderId
        }
        this.isLoading = true
        makeRequest.postAuth('order/report', {
            data
          })
          .then((response) => {
            if (!response.data.error) {
              this.data = response.data.data.orders;
              this.totalCount = response.data.data.count;
            }
            this.isLoading = false
          })
          .catch((err) => {
            notification.error({
              message: "Something went wrong. Please contact admin"
            })
            this.isLoading = false;
          })
      },
      openModal(id) {
        this.isDetailModalVisible = true
        this.order = this.data.filter(order => order._id == id)[0]
      }
    },
    mounted() {
      this.fetchData()
    },
    data() {
      return {
        data: [],
        columns,
        limit: 10,
        pageNo: 1,
        status: ["All"],
        totalCount: 0,
        daterange: [],
        searchOrderId: "",
        isDetailModalVisible: false,
        order: {},
        isLoading: false
      }
    }
  }
</script>

<style scoped>
  .filters {
    float: left;
    display: flex;
  }
  
  .report {
    position: absolute;
    top: 150px;
    bottom: 0;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
  }
  
</style>
