<template>
    <div>
        <a-modal title="Order Details" v-model="isDetailModalVisible" :footer="null">
            <div style="display: flex;justify-content: space-between;">
                <div>Id :{{order._id}}</div>
                <div>Total Amount : {{order.amount}}</div>
            </div>
            <div style="display: flex;justify-content: space-between;">
                <div>Name :{{order.name}}</div>
                <div>Mobile : {{order.mobile}}</div>
            </div>
            <div>
                <div v-for="(item, index) in order.order" :key="index" style="margin : 5px">
                    {{item.name}} - QTY :{{item.qty}}
                </div>
            </div>
            <div style="display: flex;">
                <div>Comment : </div>
                <div> {{order.comments}}</div>
            </div>
            <div>
            </div>
        </a-modal>
        <!-- <audio src="../../assets/audio/alert.mp3"  autoplay/> -->
        <a-row :gutter="32">
            <a-col :span="8">
                <div class="card-holder">
                    <h3>({{this.newOrder.length}})New order</h3>
                    <hr/>
    
                    <a-list itemLayout="horizontal" :dataSource="this.newOrder" class="order-list">
                        <a-list-item slot="renderItem" slot-scope="item , index">
                            <div class="left">
                                <div class="sch-arr">
                                    {{item.trainNo}}-{{item.trainName}}
                                </div>
                                <div class="sch-arr">
                                    Order time: {{moment(item.createdOn).format("hh:mm a")}}
                                </div>
                                <!-- <div class="act-arr">
                                                        Actual arrival : 5:10pm
                                                    </div> -->
                            </div>
                            <div class="order-amt">
                                Rs. {{item.amount}}
                            </div>
                            <div class="action">
                                <a-button size="small" @click="()=>openModal(item)" :id="item._id">Details</a-button>
                                <a-button size="small" @click="()=>updateOrder(item._id,'prepare')" :id="item._id">Prepare</a-button>
                            </div>
                        </a-list-item>
                    </a-list>
                </div>
            </a-col>
    
            <a-col :span="8">
                <div class="card-holder">
                    <h3>({{inPrepOrders.length}})In prepartion</h3>
                    <hr/>
                    <a-list itemLayout="horizontal" :dataSource="inPrepOrders" class="order-list">
                        <a-list-item slot="renderItem" slot-scope="item ,index">
                            <div class="item-list">
                                <div class="left">
                                    <div class="sch-arr">
                                        {{item.trainNo}} - {{item.trainName}}
                                    </div>
                                    <div class="sch-arr">
                                        Scheduled arrival : {tbd}
                                    </div>
                                    <div class="act-arr">
                                        Actual arrival : {tbd}
                                    </div>
                                </div>
                                <div class="action">
                                    <a-button size="small">Refresh</a-button>
                                    <a-button size="small" @click="()=>openModal(item)" :id="item._id">Details</a-button>
                                    <a-button size="small" @click="()=>updateOrder(item._id,'deliver')" :id="item._id">Deliver</a-button>
                                </div>
                            </div>
                        </a-list-item>
                    </a-list>
                </div>
            </a-col>
    
            <a-col :span="8">
                <div class="card-holder">
                    <h3>({{inDeliveryOrders.length}})Out for delivery</h3>
                    <hr/>
                    <a-list itemLayout="horizontal" :dataSource="inDeliveryOrders" class="order-list">
                        <a-list-item slot="renderItem" slot-scope="item , index">
                            <div class="item-list">
                                <div class="left">
                                    <div class="sch-arr">
                                        12721 - Dakshin Express
                                    </div>
                                    <div class="sch-arr">
                                        Scheduled arrival : 4:38pm
                                    </div>
                                    <div class="act-arr">
                                        Actual arrival : 5:10pm
                                    </div>
                                </div>
                                <div class="action">
                                    <a-button size="small">Refresh</a-button>
                                    <a-button size="small" @click="()=>openModal(item)" :id="item._id">Details</a-button>
                                    <a-button size="small" @click="updateOrder(item._id,'complete')" :id="item._id">Done</a-button>
                                </div>
                            </div>
                        </a-list-item>
                    </a-list>
                </div>
            </a-col>
        </a-row>
    </div>
</template>

<script>
    const data = [{
            title: 'Ant Design Title 1',
        },
        {
            title: 'Ant Design Title 2',
        },
        {
            title: 'Ant Design Title 3',
        },
        {
            title: 'Ant Design Title 4',
        }, {
            title: 'Ant Design Title 1',
        },
        {
            title: 'Ant Design Title 2',
        },
        {
            title: 'Ant Design Title 3',
        },
        {
            title: 'Ant Design Title 4',
        },
    ]
    import makeRequest from '../../utilities/makerequest.js'
    import {
        notification
    } from 'ant-design-vue';
    import moment from 'moment'
    export default {
        data() {
            return {
                data,
                newOrder: [],
                inPrepOrders: [],
                inDeliveryOrders: [],
                order: {
    
                },
                isDetailModalVisible: false,
                initialLoad:true
            }
        },
        methods: {
            moment,
            openModal(item) {
                this.order = item;
                this.isDetailModalVisible = true
            },
            updateOrder(id, action) {
                makeRequest.postAuth('order/changestatus', {
                        data: {
                            id,
                            action
                        }
                    })
                    .then((response) => {
                        if (!response.data.error) {
                            if (action == "prepare") {
                                let item = [...this.newOrder.filter(item => item._id == id)][0]
                                this.newOrder = this.newOrder.filter(item => item._id != id)
                                let inPrep = [...this.inPrepOrders]
                                inPrep.unshift(item)
                                this.inPrepOrders = inPrep;
                            } else if (action == "deliver") {
                                let item = [...this.inPrepOrders.filter(item => item._id == id)][0]
                                this.inPrepOrders = this.inPrepOrders.filter(item => item._id != id)
                                let inDelivery = [...this.inDeliveryOrders]
                                inDelivery.unshift(item)
                                this.inDeliveryOrders = inDelivery;
                            } else if (action == "complete") {
                                this.inDeliveryOrders = this.inDeliveryOrders.filter(item => item._id != id)
                            }
    
    
                        } else {
                            notification.error({
                                message: 'Some error occured. Please contact admin'
                            })
                        }
                    })
                    .catch((err) => {
                        notification.error({
                            message: 'Some error occured. Please contact admin'
                        })
                    })
            },
            fetchNewOrder() {
                makeRequest.postAuth('getorders', {
                        data: {
                            "status": "created"
                        }
                    })
                    .then((response) => {
                        if (!response.data.error) {
                            if (this.initialLoad) {
                                this.newOrder = response.data.data
                                this.initialLoad = false
                            }
                            if (this.newOrder.length != response.data.data.length) {
                                this.newOrder = response.data.data
                                notification.success({
                                    message: "New Order Received"
                                })
                                // var audio = new Audio("../../assets/audio/alert.mp3");
                                // audio.play();
                            }
    
                        } else {
                            notification.error({
                                message: 'Some error occured. Please contact admin'
                            })
                        }
                    })
                    .catch((err) => {
                        notification.error({
                            message: 'Some error occured. Please contact admin'
                        })
                    })
            },
            fetchInPrep() {
                makeRequest.postAuth('getorders', {
                        data: {
                            "status": "accepted"
                        }
                    })
                    .then((response) => {
                        if (!response.data.error) {
                            this.inPrepOrders = response.data.data
                        } else {
                            notification.error({
                                message: 'Some error occured. Please contact admin'
                            })
                        }
                    })
                    .catch((err) => {
                        notification.error({
                            message: 'Some error occured. Please contact admin'
                        })
                    })
            },
            fetchDelivery() {
                makeRequest.postAuth('getorders', {
                        data: {
                            "status": "shipped"
                        }
                    })
                    .then((response) => {
                        if (!response.data.error) {
                            this.inDeliveryOrders = response.data.data
                        } else {
                            notification.error({
                                message: 'Some error occured. Please contact admin'
                            })
                        }
                    })
                    .catch((err) => {
                        notification.error({
                            message: 'Some error occured. Please contact admin'
                        })
                    })
            }
        },
        mounted() {
            this.fetchNewOrder()
            this.fetchInPrep()
            this.fetchDelivery()
            // setInterval(() => {
            //     this.fetchNewOrder()
            // }, 10000)
    
        }
    }
</script>

<style scoped>
    .order-list {
        height: calc(100vh - 150px);
        overflow: scroll;
        padding: 0 12px;
    }
    
    .order-title {
        padding: 0 15px;
    }
    
    .order-amt {
        padding: 0 15px;
    }
    
    .card-holder {
        border-radius: 5px;
        border: 1px solid #e5e5e5;
    }
    
    .item-list {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-size: 12px;
        padding: 0 5px;
    }
</style>
