<template>
  <div class="container">
    <div>
      <a-button @click="$router.history.push('/vendor/outlets/edit/new')" type="primary">
        Add New Outlet
      </a-button>
    </div>
    <a-list itemLayout="horizontal">
      <a-list-item style="cursor:pointer" v-for="outlet in outlets" :key="outlet._id" @click="$router.history.push(`/vendor/outlets/edit/${outlet._id}`)">
   <h3 >{{outlet.name}}</h3>
      </a-list-item>
    </a-list>
  </div>
</template>
<script>
import makeRequest from '../../utilities/makerequest'
import { notification } from 'ant-design-vue';
export default {
  name:'Outlets',
  data(){
    return {
      outlets :[]
    }
  },
  mounted(){
      makeRequest.getAuth('outlets')
      .then((response)=>{
        if(!response.data.error){
          this.outlets = response.data.data
        }
      })
      .catch((error)=>{
        notification.error({
          message:'Some technical error occured'
        })
      })
  }
}
</script>

<style scoped>
  .container {
    padding: 12px;
  }
</style>
