<template>
    <div class="settings"> 
    <a-tabs defaultActiveKey="1" tabPosition="top" >
         <a-tab-pane tab="General" key="1">
      <general-settings :vendorInfo="vendorInfo" :updateStore="updateStore" :update="update"/>
         </a-tab-pane>
      <a-tab-pane tab="Operations" key="2">
         <operation-settings :vendorInfo="vendorInfo" :updateStore="updateStore" :update="update" />
          </a-tab-pane>
      <a-tab-pane tab="Change Password" key="3">
          <change-password/>
          </a-tab-pane>
      <a-tab-pane tab="Bank Details" key="4">
          Content of tab 4
          </a-tab-pane>
      <a-tab-pane tab="Delivery boys" key="5">
          Content of tab 5
          </a-tab-pane>
    </a-tabs>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
import GeneralSettings from './GeneralSettings'
import OperationSettings from './OperationSettings'
import ChangePassword from './ChangePassword'
import makerequest from '../../utilities/makerequest'
import { notification } from 'ant-design-vue'
export default {
    name:'Orders',
    components:{GeneralSettings , OperationSettings ,ChangePassword},
    data(){
        return {
            
            name:'',
            regName:'',
            mobile:'',
            address:''
        }
    },
    methods:{
        updateStore(e){
            console.log(this.vendorInfo);
            let info = {...this.vendorInfo}
            info[e.target.id || e.target.name] = e.target.value
            this.$store.commit('setVendorInfo',info)
           
        },
        update (){
        makerequest.postAuth("vendor/updatevendor",
       {
           data:this.vendorInfo
        }
        )
        .then((response)=>{
            if(!response.data.error){

            notification.success({
                message:"Saved"
            })
            }
            
        })
        .catch((response)=>{
           
            notification.error({
                message:response.response.data.data.message
            })
        })
        }
    },
    computed: {
        ...mapGetters({
           vendorInfo: "getVendorInfo"
        })
   
  },
 
    mounted(){
        
    }
}
</script>
