<template>
  <div id="menucomponents-layout-demo-basic">
    <a-layout>
      <a-layout-header> <a-row>
           <a-col :span="6">
             <a-breadcrumb style="    padding-top: 17px;">
              <a-breadcrumb-item  >
                <a>
              <a-icon type="lock" style="color:darkcyan"/>
              <span class="head">Login</span></a>
              </a-breadcrumb-item>
           <a-breadcrumb-item >
                       <a-button type="primary" style=" background-color: darkcyan; ">Create an Account</a-button>/> 
  </a-breadcrumb-item>
</a-breadcrumb></a-col>
     <a-col :span="18">  
     <a-select placeholder="Select Station" style="width: 25%;padding-right:10px">
      <a-icon slot="suffixIcon" type="environment" />
      <a-select-option value="Bhopal">Bhopal</a-select-option>
      <a-select-option value="Indore">Indore</a-select-option>
      <a-select-option value="Sehore">Sehore</a-select-option>
      <a-select-option value="Hoshangabad">Hoshangabad</a-select-option>
    </a-select><a-auto-complete
    
    style="width: 30%"
    placeholder="Search for restaurants 0r cuisines"
  
  />  <a-button type="primary" icon="search" style=" background-color: darkcyan; " /> </a-col>
   
  </a-row>
  
   </a-layout-header>
     <a-layout> <a-layout-content> <a-card title="Restro Name" :bordered="false" style=" padding-top:10px;   width: 779px;
    margin-left: 16%;">
    <img
    alt="example"
    src="../../assets/images/food2.jpg"
   style="    width: 100%;
    height: 251px;"
  />
    <p>Cuisines</p>
    <p>Address</p>
  </a-card></a-layout-content><a-layout-sider style="background-color: #ececec;padding-left:10px"><h2>Related </h2><a-card
  hoverable
  style="width: 150px;padding-bottom:10px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food2.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Zam Zam">
    <template slot="description">Biryani</template>
  </a-card-meta>
</a-card><a-card
  hoverable
  style="width: 150px;padding-bottom:10px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food2.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Zam Zam">
    <template slot="description">Biryani</template>
  </a-card-meta>
</a-card><a-card
  hoverable
  style="width: 150px;padding-bottom:10px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food2.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Zam Zam">
    <template slot="description">Biryani</template>
  </a-card-meta>
</a-card></a-layout-sider></a-layout>
      <a-layout-footer>  <p>&copy; 2019 yowza-techies.com</p></a-layout-footer>
    </a-layout>
 </div>
</template>
<style>
#menucomponents-layout-demo-basic {
  text-align: center;
}
#menucomponents-layout-demo-basic .ant-layout-header,
#menucomponents-layout-demo-basic .ant-layout-footer {
 
  color: black;
}
#menucomponents-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#menucomponents-layout-demo-basic .ant-layout-sider {
  
 
  line-height: 120px;
}
#menucomponents-layout-demo-basic .ant-layout-content {

  color: black;
  min-height: 120px;
  line-height: 120px;
}
#menucomponents-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#menucomponents-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
</style>