<template>
  <div id="restrocomponents-layout-demo-basic">
    <a-layout>
      <a-layout-header> <a-row>
           <a-col :span="6">
             <a-breadcrumb style="    padding-top: 17px;">
              <a-breadcrumb-item  >
                <a>
              <a-icon type="lock" style="color:darkcyan"/>
              <span class="head">Login</span></a>
              </a-breadcrumb-item>
           <a-breadcrumb-item >
                       <a-button type="primary" style=" background-color: darkcyan; ">Create an Account</a-button>/> 
  </a-breadcrumb-item>
</a-breadcrumb></a-col>
     <a-col :span="18">  
     <a-select placeholder="Select Station" style="width: 25%;padding-right:10px">
      <a-icon slot="suffixIcon" type="environment" />
      <a-select-option value="Bhopal">Bhopal</a-select-option>
      <a-select-option value="Indore">Indore</a-select-option>
      <a-select-option value="Sehore">Sehore</a-select-option>
      <a-select-option value="Hoshangabad">Hoshangabad</a-select-option>
    </a-select><a-auto-complete
    
    style="width: 30%"
    placeholder="Search for restaurants 0r cuisines"
  
  />  <a-button type="primary" icon="search" style=" background-color: darkcyan; " /> </a-col>
   
  </a-row>
  
   </a-layout-header>
      <a-layout-content><h2>Top Restaurants</h2> <div style="background-color: #ececec; padding: 20px;">
    <a-row :gutter="16"><a-col :span="8"><a-card
  hoverable
  style="width: 240px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food2.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Zam Zam">
    <template slot="description">Biryani</template>
  </a-card-meta>
</a-card></a-col><a-col :span="8"><a-card
  hoverable
  style="width: 240px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food3.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Sayaji">
    <template slot="description">North Indian</template>
  </a-card-meta>
</a-card></a-col><a-col :span="8"><a-card
  hoverable
  style="width: 240px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food4.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Sagar Gaire">
    <template slot="description">Chinese,South Indian,North Indian</template>
  </a-card-meta>
</a-card></a-col></a-row><h2>More Collections</h2><a-row :gutter="16"><a-col :span="8"><a-card
  hoverable
  style="width: 240px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food2.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Hakeem">
    <template slot="description">Mughalai</template>
  </a-card-meta>
</a-card></a-col><a-col :span="8"><a-card
  hoverable
  style="width: 240px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food3.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Taste of India">
    <template slot="description">Chinese,South Indian,North Indian</template>
  </a-card-meta>
</a-card></a-col><a-col :span="8"><a-card
  hoverable
  style="width: 240px"
  @click="$router.history.push('/menubyrestro')"
>
  <img
    alt="example"
    src="../../assets/images/food4.jpg"
    slot="cover"
  />
  <a-card-meta
    title="Sagar Gaire">
    <template slot="description">Chinese,South Indian,North Indian</template>
  </a-card-meta>
</a-card></a-col></a-row></div></a-layout-content>
      <a-layout-footer>  <p>&copy; 2019 yowza-techies.com</p></a-layout-footer>
    </a-layout>
 </div>
</template>
<style>
#restrocomponents-layout-demo-basic {
  text-align: center;
}
#restrocomponents-layout-demo-basic .ant-layout-header,
#restrocomponents-layout-demo-basic .ant-layout-footer {
 
  color: black;
}
#restrocomponents-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#restrocomponents-layout-demo-basic .ant-layout-sider {
  
  color:black;
  line-height: 120px;
}
#restrocomponents-layout-demo-basic .ant-layout-content {

  color: black;
  min-height: 120px;
  line-height: 120px;
}
#restrocomponents-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#restrocomponents-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
</style>