<template>
<div>
       <a-select :notFoundContent="null"
        :value="trainNo"
        @search="handleSearch"
        showSearch
        @change="handleChange" 
        :defaultValue="trainNo"
        style="width: 250px" 
        placeholder="Enter train Number or Name">
          <a-select-option 
          v-for="train in trainList" 
          :key="`${train.id}-${train.name}`">
              {{`${train.id}-${train.name}`}}
          </a-select-option>
        </a-select>
        <div style="margin-top:10px">
    <a-button @click="gotoNext" type="primary">
        Next
    </a-button>
</div>
</div>

    
</template>

<script>
import trains from '../../constants/trains.js'
import { notification } from 'ant-design-vue';
export default {
    data(){

        return {
           trainNo:"",
           trainList:[],
           trains
        }
    },
    methods :{
        gotoNext(){
            if(this.trainNo == "")
            {
                notification.error({
                    message:"Select a train number"
                })
            }
            else{
                this.$store.commit('setTrainNo',this.trainNo.split('-')[0])
                this.$router.push('/restaurants')
            }
        },
         handleSearch(value) {
        if (value.length > 3) {
          let st = trains.filter((train) => {
            if ((String(train.id).toLowerCase().indexOf(value.toLowerCase()) != -1) || (train.name.toLowerCase().indexOf(value.toLowerCase()) != -1))
              return true
          })
         

          this.trainList = st
        } else
          this.trainList = []
      },
    handleChange(value) {
        this.trainNo = value
      }
    }
}
</script>
