<template>

<a-row>
<a-col v-for="item in items"
  :key="item._id" :lg="6">
<a-card
  hoverable
  style="width: 300px"
  
>
  <img
    alt="example"
    :src="'https://fms-storage.sgp1.digitaloceanspaces.com/items/'+item.image" 
    slot="cover"
  />
  <template class="ant-card-actions" slot="actions">
    <a-icon type="plus" />
  </template>
  <a-card-meta
    title="Card title"
    description="This is the description">
   </a-card-meta>
</a-card>
</a-col>
</a-row>
</template>
<script>
import makerequest from '../../utilities/makerequest';
import { notification } from 'ant-design-vue';
export default {
    mounted (){
        makerequest.get(`core/items/${this.$route.params.vendorId}`)
        .then((response)=>{
            if(response.data.error){
                notification.error({
                    message:"Some error occured"
                })
            }
            else{
                this.items = response.data.data
            }
        })
    },
    data(){
        return{
            items:[]
        }
    }
}
</script>
