<template>
    <div style="display:flex">
      <a-tabs type="card" @change="tabChanged"  tabPosition="left" :style="{ height: '100vh',overflow:'scroll'}" >
      <a-tab-pane v-for="station in stations" :tab="station.st_name" :key="station.st_code">
          
     </a-tab-pane>
     
    </a-tabs>
    <div class="content-area">
        <a-row>
            <a-col >
                <h3>Select station from left panel where you want food to be delivered</h3>
            </a-col>

        </a-row>
        <h3>Selected Station - {{stationName}} </h3>
        <div v-if="!vendors.length">
Sorry we are not active at this station

        </div>
        <a-row :gutter="16" v-else>
            <a-col :lg="6" :xs="24" :md="12" v-for="vendor in vendors" :key="vendor._id">
 <a-card
 hoverable
 style="height:250px"
 @click="viewMenu"
 :id="vendor._id"
>
  <img
    alt="example"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfJFOZWOg1f-Fo5YEI20b7nd6Zh4QSaS3azh7BC500gSoRE5hd"
    slot="cover"
    style="height:250px"
  />
  <a-card-meta
    :title="vendor.regName">
    <!-- <template slot="description">www.instagram.com</template> -->
  </a-card-meta>
</a-card>
            </a-col>
        </a-row>
       
    </div>
    </div>
    
</template>
<script>
import makeRequest from '../../utilities/makerequest'
import { notification } from 'ant-design-vue';
export default {
    data(){
        return{
            stations:[],
            vendors:[],
            selectedStation:""
        }
       
    },
    computed:{
        stationName(){
            if(this.selectedStation.length){
               let st =  this.stations.filter((st)=>st.st_code == this.selectedStation)[0].st_name
               return st
            }
            else
            return "None"
        }
    },
    methods:{
        viewMenu(e){
            this.$router.push(`/menu/${e.currentTarget.id}`)
        },
        tabChanged(key,value){
            this.selectedStation = key
            makeRequest.get(`core/getVendors/${key}`)
            .then((response)=>{
                if(response.data.error){
                    notification.error({
                        message:"Some technical error occured"
                    })
                }
                else{
                    this.vendors= response.data.data
                }
            })
            .catch((err)=>{
                notification.error({
                    message:"Some technical error occured"
                })
            })
        }
    },
    mounted(){
       if (this.$store.state.trainNo.length){
           makeRequest.get(`core/getStations/${this.$store.state.trainNo}`)
           .then((response)=>{
               if(response.data.error){
                   notification.error({
                       message:"Some technical error occured"
                   })
               }
               else{
                   this.stations = response.data.data
               }    
           })
           .catch((err)=>{
               notification.error({
                   message:"Something went wrong"
               })
           })
       }
       else{
           this.$router.push("/")
       }
        // if(this.$store.)
    }
}
</script>
<style scoped>
.content-area{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    overflow:scroll;
}
</style>

