<template>
<div id="components-form-demo-normal-login">
    <a-layout>
         <a-affix :offsetTop="0">
        <a-layout-header class="header"><Header /></a-layout-header><a-alert v-if = "alertshow" v-bind:type="alerttype" v-bind:message="alertmessage" banner /></a-affix>
        
        <a-layout-content style="margin-right: 12%;"> 
  <a-form :form="form" class="login-form" @submit="handleSubmit">
    
  <div class="login_head">Reset Password</div>
    <a-form-item style="width: 115%;">
      <a-input
        v-decorator="[
          'mobile',
          { rules: [{ required: true, message: 'Please input your Mobile No.!' }] }
        ]"
        placeholder="Mobile No.">

        <a-icon slot="prefix" type="phone" style="color: rgba(0,0,0,.25)" />
      </a-input>
    </a-form-item>
    
    <a-form-item style="width: 50%; margin-left: 45%;">
     
      
      <a-button
        type="primary"
        html-type="submit"
        class="login-form-button"
      >
        Send OTP
      </a-button>
      
    </a-form-item>
  </a-form>

</a-layout-content>


   </a-layout>
   
  </div>
</template>

<script>

import Header from '@/components/Header.vue'
import axios from 'axios'
import {baseUrl} from '@/constants/urlcontants'

export default {
  name: 'forgotpassword',
  
  components:{
   Header
  },

data:function(){
return {
  alertshow:false,
  alerttype:String,
  alertmessage:String,
}
},

  beforeCreate () {
    this.form = this.$form.createForm(this);
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
          var data = {"data" : values};
          
            axios.post(`${baseUrl}auth/resetpassword`,data).then(function (response) {
              // response.data.message== "otp sent"
                this.alertshow=!this.alertshow;
               this.alertmessage="otp sent"
              
           
              
            }).catch((response)=>{
           if (response.response.data.data.message=="suspended"){
            this.alertshow=!this.alertshow;
            this.alertmessage="suspended"
            this.alerttype="info"
          }
          else if (response.response.data.data.message=="user not found"){
            this.alertshow=!this.alertshow;
            this.alertmessage="user not found"
            this.alerttype="error"
          }
             
               

            })
        }
      });
    },
    handleConfirmBlur  (e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
  },
};

</script>
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

#components-form-demo-normal-login {
  text-align: center;
}
#components-form-demo-normal-login .ant-layout-header{
       background: darkcyan;
}
#components-form-demo-normal-login .ant-layout-footer {
  /* background: #7dbcea; */
  color: #fff;
}
#components-form-demo-normal-login .ant-layout-footer {
  /* line-height: 1.5; */
   text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
} 
#components-form-demo-normal-login .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  width: 258px
}
#components-form-demo-normal-login .ant-layout-content {
 
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  position: absolute;
    top: 84px;
    left: 42px;
}
#components-form-demo-normal-login > .ant-layout {
  margin-bottom: 48px;
}
#components-form-demo-normal-login > .ant-layout:last-child {
  margin: 0;
}
#components-form-demo-normal-login > .header {
     text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
}
.login_head{
        border-bottom: 1px solid rgb(235, 237, 242);
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

</style>