<template>
   <div id="components-layout-demo-basic">
    <a-layout>
      <a-layout-header >
         <a-row>
           <a-col :span="8"> <span class="logo"></span></a-col>
           <a-col :span="8" :offset="8">
             <a-breadcrumb>
              <a-breadcrumb-item  >
                <a href="/loginvendor">
              <a-icon type="lock" />
              <span class="head">Login</span></a>
              </a-breadcrumb-item>
           <a-breadcrumb-item >
                       <a href="/vendorreg"><span class="head"> Register</span></a>
  </a-breadcrumb-item>
</a-breadcrumb></a-col>
          </a-row>
          <a-row>
      <a-col :span="12" :offset="6"><h2 class="head" style="color: cyan;  font-family: cursive;   font-size: -webkit-xxx-large;">To Travel Is To Eat</h2></a-col>
    </a-row>
    <a-row>
      <a-col >     
     
       <a-auto-complete
    :dataSource="dataSource"
    style="width: 200px"
    placeholder="Train Number/Name"
    :filterOption="filterOption"
  /><a-auto-complete
    :dataSource="dataSource"
    style="width: 200px"
    placeholder="Boarding Station"
    :filterOption="filterOption"
  /> <a-date-picker>
      <template slot="dateRender" slot-scope="current, today">
        <div class="ant-calendar-date" :style="getCurrentStyle(current, today)">
          {{current.date()}}
        </div>
      </template>
    </a-date-picker>OR<a-auto-complete
    :dataSource="pnr"
    style="width: 200px"
    placeholder="PNR Number"
  :filterOption="filterOption"
  />  <a-button type="primary" icon="search" style=" background-color: darkcyan; " @click="$router.history.push('/restro')"/> </a-col></a-row>
   
      </a-layout-header>
      <a-layout-content style="background-color:white;    line-height: 100px">  <a-row>
      <a-col :span="12" :offset="6"><h2  style="    color: black;
    font-size: xx-large;
    border-bottom: 4px solid darkcyan;">How It Works</h2></a-col>
    </a-row>
    <a-row type="flex" justify="center" align="top">
      <a-col :span="6">
        <div class="height-100">
          <img src="../assets/images/train1.png" style="width: 100px;"/>
          <p class="step">Select Train</p>
          </div></a-col>
          <a-col :span="6">
            <div class="height-100">
              <img style="width:97px" src="../assets/images/order.png"/>
              <p class="step">Place Order</p>
              </div></a-col>
              <a-col :span="6">
                <div class="height-100">
                  <img style="width:97px" src="../assets/images/foodorder.png"/>
                  <p class="step">Enjoy</p>
                  </div></a-col>
                  </a-row>
                  <a-row style="background:darkcyan" justify="center" align="top"><h2  style="    color: black;
    font-size: xx-large;
   ">Reviews</h2><a-carousel  autoplay >
    <div><h3>Review1</h3></div>
    <div><h3>Review2</h3></div>
    <div><h3>Review3</h3></div>
    <div><h3>Review4</h3></div>
  </a-carousel></a-row>
       </a-layout-content>
       <a-layout-footer>  <p>&copy; 2019 yowza-techies.com</p></a-layout-footer>
    </a-layout></div>
</template>

<script>

export default {

  data() {
    return {
      dataSource: ['Burns Bay Road', 'Downing Street', 'Wall Street'],
      pnr:['4353454565','7767867878','454564564566'],
    
    
    }

  },
  methods: {
    filterOption(input, option) {
      return option.componentOptions.children[0].text.toUpperCase().indexOf(input.toUpperCase()) >= 0
    },
     getCurrentStyle (current, today) {
      const style = {}
      if (current.date() === 1) {
        style.border = '1px solid #1890ff'
        style.borderRadius = '50%'
      }
      return style
    },
  }
}
</script>
<style>
#components-layout-demo-basic {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-header{
  background-size: 380px;
    padding: 25px 0 40px;
    background-position: bottom center;
    z-index: 6;
   background-image: url("../assets/images/food6.jpg");
        height: auto;
        
  
}
#components-layout-demo-basic .ant-layout-footer {
 background-color: black;
  color: #fff;
}
#components-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#components-layout-demo-basic .ant-layout-sider {
 
  color: #fff;
  line-height: 120px;
}
#components-layout-demo-basic .ant-layout-content {
 
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}
#components-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}

.head{
  color: whitesmoke;
  font-weight: bold;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    font-family: cursive;
}
.step{
  color: darkcyan;
  font-size: 20px;
}
.ant-carousel >>> .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel >>> .slick-slide h3 {
  color: #fff;
}



</style>
