<template>
 <div id="components-layout-demo-basic">
      
      <a-layout>
         <a-affix :offsetTop="0">
        <a-layout-header class="header"><Header /></a-layout-header>
        </a-affix>
        
        <a-layout-content> 

  <a-form :form="form" @submit="handleSubmit">

  <div class="login_head">LogIn OR Register</div>

    <a-form-item  v-bind="formItemLayout">
      <span slot="label">Mobile No. &nbsp;</span>
      <a-input
        v-decorator="['mobileno', {rules: [{ required: true, message: 'Enter 10 digit Mobile No.' }]} ]" placeholder="Mobile No." />
    </a-form-item>
   
   
    <a-form-item
      :wrapper-col="{ span: 8, offset: 5 }" style="margin-right: 30% ;">
      <a-button type="primary"  html-type="submit">
        Login
      </a-button>
    </a-form-item>
  </a-form>
</a-layout-content>


   </a-layout>
    <a-affix>
<a-layout-footer>
    <footer />
</a-layout-footer>
    </a-affix>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import footer from '@/components/Footer.vue'

export default {
  name: 'login',
  
  components:{
   Header,
   footer
  },

  data () {
    return {
      formLayout: 'horizontal',
      form: this.$form.createForm(this),
    };
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
        }
      });
    },
    
  },
  
};
</script>

<style>
#components-layout-demo-basic {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-header{
       background: darkcyan;
}
#components-layout-demo-basic .ant-layout-footer {
  /* background: #7dbcea; */
  color: #fff;
}
#components-layout-demo-basic .ant-layout-footer {
  /* line-height: 1.5; */
   text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
} 
#components-layout-demo-basic .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  width: 258px
}
#components-layout-demo-basic .ant-layout-content {
 
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  position: absolute;
    top: 84px;
    left: 42px;
}
#components-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
#components-layout-demo-basic > .header {
     text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
    
}
.login_head{
        border-bottom: 1px solid rgb(235, 237, 242);
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

</style>
