<template>
  <a-layout id="components-layout-demo-top-side">
    <a-layout-header class="header">
      <div class="logo" />

      <a-breadcrumb style="margin-top: 7%;">
    <a-breadcrumb-item><a href="LoginVendor" style="color:white">LogIn</a></a-breadcrumb-item>
    <a-breadcrumb-item><a href="VendorRegistration" style="color:white">Registration</a></a-breadcrumb-item>
     </a-breadcrumb>
      <!-- <a-menu
        theme="dark"
        mode="horizontal"
        :defaultSelectedKeys="['2']"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="1">LogIn</a-menu-item>
        <a-menu-item key="2">Create an account</a-menu-item>
      </a-menu> -->
    </a-layout-header>
    <a-layout-content style="padding: 0 50px">
      <a-breadcrumb style="margin: 16px 0">
        <a-breadcrumb-item>Home</a-breadcrumb-item>
        <a-breadcrumb-item>List</a-breadcrumb-item>
        <a-breadcrumb-item>App</a-breadcrumb-item>
      </a-breadcrumb>
     
    </a-layout-content>
    
  </a-layout>
</template>

<script>
// import forgotpassword from '@/views/ForgotPassword.vue'

export default {
    name: 'restroitemsdetail',
  
  components:{
//    forgotpassword
  },
  data () {
    return {
      mode: 'left',
    }
  },
  methods: {
    callback (val) {
      console.log(val)
    },
  },
}
</script>

<style>
#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
</style>
