<template>
  <div id="components-layout-demo-basic">
    

   
            <div class="reg_head">
    <div><h3 style="    text-align: center;
    font-weight: bold;margin-top: -9%;
    margin-bottom: -1.5em;">Create Admin</h3></div></div>
            <a-form style=" margin-right: 30%;"
    :form="form"
    @submit="handleSubmit"
    
  >
  
 
  
     
     
     <a-form-item
      v-bind="formItemLayout"
    >
      <span slot="label">
       Admin Name&nbsp;
       
      </span>
      <a-input
        v-decorator="[
          'name',
          {
            rules: [{ required: true, message: 'Please input your  Admin name!', whitespace: true }]
          }
        ]"
         placeholder="Admin Name"
      />
    </a-form-item>
    
     <a-form-item
      v-bind="formItemLayout"
      label="Admin Mobile"
    >
      <a-input
        v-decorator="[
          'mobile',
          {
            rules: [{ required: true, message: 'Please input Admin mobile number!' }],
          }
        ]"
        placeholder="Admin Mobile"
        style="width: 100%"
      >
        <a-select
          slot="addonBefore"
          v-decorator="[
            'mobilecode',
            { initialValue: '91' }
          ]"
          style="width: 70px"
        >
          <a-select-option value="91">
            +91
          </a-select-option>
          <a-select-option value="00">
            00
          </a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
  
    <a-form-item
      v-bind="formItemLayout"
      label="Admin E-mail"
    >
      <a-input
        v-decorator="[
          'email',
          {
            rules: [{
              type: 'email', message: 'The input is not valid Admin E-mail!',
            }, {
              required: true, message: 'Please input Admin E-mail!',
            }],
            
          }
        ]"
        placeholder="Admin E-mail"
      />
    </a-form-item>
  
    
      <a-form-item
      v-bind="formItemLayout"
      label="Password"
    >
      <a-input
        v-decorator="[
          'password',
          {
            rules: [{
              required: true, message: 'Please input your password!',
            }, {
              validator: validateToNextPassword,
            }],
          }
        ]"
        type="password"
        placeholder="Password"
      />
    </a-form-item>
    <a-form-item
      v-bind="formItemLayout"
      label="Confirm Password"
    >
      <a-input
        v-decorator="[
          'cnfrm',
          {
            rules: [{
              required: true, message: 'Please confirm your password!',
            }, {
              validator: compareToFirstPassword,
            }],
          }
        ]"
        type="password"
        placeholder="Confirm Password"
        @blur="handleConfirmBlur"
      />
    </a-form-item>

  
   
      
    <a-form-item v-bind="tailFormItemLayout">
      <a-button style="     background-color: darkcyan;   width: 100%;"
        type="primary"
        html-type="submit"
      >
        Submit
      </a-button>
      
    
    </a-form-item>
  </a-form>
  

  </div>
</template>
<script>


  import makeRequest from '../../utilities/makerequest'
export default {
  name: 'admin',
  
  
  data: function(){
  return {
    
      confirmDirty: false,
    //   autoCompleteResult: [],
      formItemLayout: {
        labelCol: {
          xs: { span: 24 },
          sm: { span: 8 },
        },
        wrapperCol: {
          xs: { span: 24 },
          sm: { span: 16 },
        },
      },
      tailFormItemLayout: {
        wrapperCol: {
          xs: {
            span: 24,
            offset: 0,
          },
          sm: {
            span: 16,
            offset: 8,
          },
        },
      },
    };
  },
  beforeCreate () {
    this.form = this.$form.createForm(this);
  },
  
  methods: {
    
    handleSubmit  (e) {
      e.preventDefault();
      
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          
          
          var data = {"data" : values};
           
            makeRequest.postAuth(`Admin/createadmin`, data).then((response) => {
          debugger
               if(response.data.message=="success"){
              
               }
              
            }).catch((response)=>{
                 debugger
                
                    })
            


        }

      });
    },
    
    handleConfirmBlur  (e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    compareToFirstPassword  (rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
    validateToNextPassword  (rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    }
  
  } 
}
</script>

<style>
#components-layout-demo-basic {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-header{
       background: darkcyan;
}
#components-layout-demo-basic .ant-layout-footer {
  background:black;
  color: #fff;
}
#components-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#components-layout-demo-basic .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  width: 258px
}
#components-layout-demo-basic .ant-layout-content {
 
  color: #fff;
  min-height: 120px;
  line-height: 120px;
      background: white;
   width: 100%;
    padding: 10px 20px;
}
#components-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
#components-layout-demo-basic > .header {
     text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
}
.reg_head{
        border-bottom: 1px solid rgb(235, 237, 242);
    display: table-cell;
    vertical-align: middle;
    text-align: left;
   
    font-size: large;
    font-weight: bold;
       
   
    
}

</style>
