<template>

    <div id="setting_form" style="margin-left: 15%;
    margin-right: 35%;">
        <a-form >
            
        
             <a-form-item label="Current Password">
                 <a-input type="password" v-model="password" placeholder="Enter current password"></a-input>
             </a-form-item>
                <a-form-item label="New Password">
          
            <a-input type="password" v-model="newPassword" placeholder="Enter new password"></a-input>
              </a-form-item>
                <a-form-item label="Confirm New Password">
           <a-input type="password" v-model="confirmNewPassword" placeholder="Confirm new password"></a-input>
              </a-form-item>
                <a-form-item label="">
           <a-button type="primary" @click="savepass">Save</a-button>
              </a-form-item>
        </a-form>
    </div>
</template>
<script>
import makerequest from '../../utilities/makerequest';
import { notification } from 'ant-design-vue';
export default {
    data(){
        return{
            password:"",
            newPassword:"",
            confirmNewPassword:""
        }
    },
    
    methods:{
        
        savepass(){
            if(this.newPassword !== this.confirmNewPassword){
                notification.error({
                    message:"Confirm password do not match"
                })
            }
            else{
                makerequest.postAuth('auth/changepassword',{
                    data:{
                        password :this.password,
                        newPassword: this.newPassword
                    }
                })
                .then((response)=>{
                    if(!response.data.error){
                        notification.success({
                            message:"password changed successfully"
                        })
                        this.password="";
                        this.newPassword="";
                        this.confirmNewPassword="";
                    }

                })
                .catch((err)=>{
                    notification.error({
                        message:err.response.data.data.message
                    })
                })
            }
        }
    }
}
</script>

<style>
.setting_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
</style>