<template>
<div>
   <a-button type="primary" @click="Add" style="background-color:darkcyan;">
     Add
    </a-button>
   <a-drawer
      title="Cuisine"
      placement="top"
      :closable="true"
      @close="onClose"
      :visible="visible"
    >
    <a-form :form="form">
  
  
        <a-form-item v-bind="formItemLayout">
          <span slot="label">
           Cuisine Name&nbsp;
           
          </span>
          <a-input placeholder="Cuisine Name" :value="name" v-model="name"/>
        </a-form-item>
  
         <a-form-item
      :label-col="formTailLayout.labelCol"
      :wrapper-col="formTailLayout.wrapperCol"
    >
      <a-checkbox
        @change="onChange"
        :checked="activestatus"
      >
        Active Status
      </a-checkbox>
    </a-form-item>
       
        <a-form-item >
          <a-button @click="AddCuisine" v-if="add" style="     background-color: darkcyan;" type="primary" html-type="submit" >
            Add
          </a-button>
          <a-button v-if="save" style="     background-color: darkcyan;" type="primary" @click="SaveChanges" >
            Save Changes
          </a-button>
  
  
  
        </a-form-item>
      </a-form>
      
    </a-drawer>
<a-table :columns="columns" :dataSource="cuisines" style="padding-top:10px" bordered>
          <template slot="operation" slot-scope="text, cuisines">
          <div class='editable-row-operations'>
          
            <span >
              <a @click="() => edit(cuisines._id,cuisines.name,cuisines.status)">Edit</a>
            </span>
          </div>
</template> 


  </a-table>
      </div>
      </template>
      <script>
      const columns = [
    
    {
      title: 'Name',
      dataIndex: 'name',
      width: '25%',
      scopedSlots: {
        customRender: 'name'
      },
    }, 
  
    {
      title: 'Status',
      dataIndex: 'status',
      width: '15%',
      scopedSlots: {
        customRender: 'status'
      },
    }, {
      title: 'Edit',
      dataIndex: 'operation',
      scopedSlots: {
        customRender: 'operation'
      },
    }
  ]
  
      import makerequest from '../../utilities/makerequest'
import {notification} from 'ant-design-vue'

  import {
    mapState
  } from "vuex";
  import {
    mapGetters
  } from "vuex";
  import {
    mapActions
  } from "vuex";
      const formItemLayout = {
  labelCol: { span: 4 },
  wrapperCol: { span: 8 },
};
const formTailLayout = {
  labelCol: { span: 4 },
  wrapperCol: { span: 8, offset: 4 },
};
export default {
    name:'CuisineMaster',
    data () {
    return {
      save:false,
      add:false,
      name:"",
      columns,
      cuisineId:'',
      activestatus:false,
      visible: false,
      formItemLayout,
      formTailLayout,
    };
  },
   computed: {
      ...mapGetters({
        cuisines: "getCuisines"
      }),},
   methods: {
     Add(){
     this.showDrawer()
     this.activestatus=false
     this.add=true
     this.save=false
     },
           edit(key,name,status) {
        this.showDrawer()
        this.add=false
     this.save=true
       this.cuisineId=key
       this.name=name
       this.activestatus=status=="active"?true:false
  
      },
      ...mapActions({
        getCuisines: "getCuisineAction"
      }),
  
    showDrawer() {
      this.visible = true
    },
    onClose() {
      this.visible = false
    },
      onChange (e) {
      
      this.activestatus=e.target.checked
      
    },
     SaveChanges(){
     debugger
       makerequest.postAuth("masters/Cuisine/editcuisine",
       {
           data:{"cuisineId":this.cuisineId,
             "name":this.name,
          "status":this.activestatus==true?'active':'inactive'   }
         
       }
        )
        .then((response)=>{
            debugger
            if(!response.data.error){
this.getCuisines()
this.onClose()
            notification.success({
                message:"Saved"
            })
            }
            
        })
        .catch((response)=>{
           
            notification.error({
                message:response.response.data.data.message
            })
        })
   },
   AddCuisine(){
     debugger
       makerequest.postAuth("masters/Cuisine/addcuisine",
       {
           data:{"name":this.name,
          "status":this.activestatus==true?'active':'inactive'   }
         
       }
        )
        .then((response)=>{
            debugger
            if(!response.data.error){

            notification.success({
                message:"Saved"
            })
            }
            
        })
        .catch((response)=>{
           
            notification.error({
                message:response.response.data.data.message
            })
        })
   }
  },
   mounted() {
      this.getCuisines();
    },

}
</script>