<template>
    <div>
          <a-row><div :style="{ background: 'rgb(190, 200, 200)', padding: '26px 16px 16px' }">
    <a-button type="primary" style="background:darkcyan" >Today</a-button>
    <a-button >Current Week</a-button>
    <a-button type="primary" style="background:darkcyan"  >Last 7 Days</a-button>
    <a-button  >Current Month</a-button>
    <a-button type="primary" style="background:darkcyan" >Previous Month</a-button>
  </div></a-row>
        <a-row> <a-col :span="8"><div class="chip" @click="$router.history.push('/superadmin/vendors')" ><div class='count'>{{vendors.length}}</div><div class='tag'>Total Vendors<a-icon type="team" style="padding-left:10px"/></div> </div></a-col>
         <a-col :span="8"><div class="chip" ><div class='count'>0</div><div class='tag'>Total Users<a-icon type="user" style="padding-left:10px"/></div> </div></a-col>
         <a-col :span="8"><div class="chip" ><div class='count'>0</div><div class='tag'>Orders<a-icon type="ordered-list" style="padding-left:10px"/></div> </div></a-col>
         </a-row>
      
         <a-row><img src="../../assets/images/growth.png"></a-row>
    </div>
</template>
<script>

import axios from "axios";
import { baseUrl } from "@/constants/urlcontants";
import { mapState } from "vuex";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
export default {
  data(){
    return {
      collapsed: false,
    }
  },
   computed: {
   

    ...mapGetters({
      vendors: "getVendors"
    })
  },
   methods: {
   
    ...mapActions({
      getVendors: "getVendorsAction"
    })
    },
    mounted() {
    this.getVendors();
   
  }
}
</script>
<style>
.chip{
   height: 104px;
  background: darkcyan;
  margin: 16px;
        width: 75%;
    
}
.count{
font-size: 42px;
}
.tag{
  font-size:14px
}
</style>