<template>
   <div id="setting_form">
  <a-form style="width:800px" @submit="saveDetails" :layout="formLayout" >
                 <a-form-item
        label="Email"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
        
      >
        <a-input id="email" :value="AdminInfo.email" @input="updateStore"/>
      </a-form-item>      
      
       <a-form-item
        label="Name"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
        
      >
        <a-input id="regName" :value="AdminInfo.regName"  @input="updateStore"/>
      </a-form-item>
           
       <a-form-item
        label="Address"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input id="address" :value="AdminInfo.address"  @input="updateStore"/>
      
      </a-form-item>
       <a-form-item
        label="Mobile"
        :label-col="formItemLayout.labelCol"
        :wrapper-col="formItemLayout.wrapperCol"
      >
        <a-input type="number" id="mobile" :value="AdminInfo.mobile"  @input="updateStore"/>
      </a-form-item>
      <a-button @click="saveDetails" type="primary">
          Save
        </a-button>
            </a-form>
 </div>
</template>
<script>
import makerequest from '../../utilities/makerequest'
import {notification} from 'ant-design-vue'
export default {
    name:'GeneralSettings',
    props:['AdminInfo','updateStore','updateAdmin'],
    data(){
    return{
     formLayout: 'horizontal',
    }
    },
    computed:{
         formItemLayout () {
      const { formLayout } = this;
      return formLayout === 'horizontal' ? {
        labelCol: { span: 4 },
        wrapperCol: { span: 14 },
      } : {};
    },
    buttonItemLayout () {
      const { formLayout } = this;
      return formLayout === 'horizontal' ? {
        wrapperCol: { span: 14, offset: 4 },
      } : {};
    }
    },
 methods:{
      saveDetails(){
      this.updateAdmin()
    }
 }
}

</script>

<style>
.setting_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
</style>


