<template>
  <a-layout id="admincomponents-layout-demo-custom-trigger">
    <a-layout-sider
      :trigger="null"
      collapsible
      v-model="collapsed"
    >
      <div class="logo" >YTW</div>
      <a-menu theme="dark" mode="inline" :defaultSelectedKeys="['0']">
        <a-menu-item key="0" @click="$router.history.push('/superadmin/dashboard')">
          <a-icon type="home" />
          <span>Dashboard</span>
        </a-menu-item>
        <a-menu-item key="1" @click="$router.history.push('/superadmin/vendors')">
          <a-icon type="user" />
          <span>Vendors</span>
        </a-menu-item>
        <a-menu-item key="2" >
        <a-icon type="hdd" />
          <span>Trains</span>
        </a-menu-item>
       
        <a-menu-item key="4" @click="$router.history.push('/superadmin/settings')">
          <a-icon type="setting" />
          <span>Settings</span>
        </a-menu-item>
    
         <a-sub-menu key="sub1">
      <span slot="title"><a-icon type="appstore" /><span>Reports</span></span>
      <a-menu-item key="00" @click="$router.history.push('/superadmin/ordersreport')">Orders Report</a-menu-item>
      <a-menu-item key="01">Vendorwise Report</a-menu-item>
     
    </a-sub-menu>
     <a-menu-item key="6" @click="$router.history.push('/superadmin/master')">
          <a-icon type="file-add" />
          <span>Master</span>
        </a-menu-item>
         <a-menu-item key="7" @click="$router.history.push('/loginvendor')">
          <a-icon type="lock" />
          <span>Signout</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="    background: darkcyan; padding: 0">
       <a-row> <a-col :span="2"><a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="()=> collapsed = !collapsed"
        />
        
      </a-col>
      <a-col :span="14">  
        <a-input placeholder='Search' style="    width: 55%;"/>
      </a-col>
      <a-col :span="8"> 
        <a-icon type="bell" />
      <a-icon type="mail" style="padding-left: 15px;"/>
     
      <a-tooltip placement="bottom" >
        <template slot="title">
            <span>Create Admin</span>
        </template>
      <a-icon type="user-add" style="padding-left: 15px;"  />
       </a-tooltip>
       </a-col>
        </a-row>
      </a-layout-header>
      <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">
         
         <a-row> <router-view></router-view></a-row>
      </a-layout-content>
      <a-layout-footer style="background:black;
  color: #fff;">  <p>&copy; 2019 yowza-techies.com</p></a-layout-footer>
      
    </a-layout>
      
  </a-layout>
  
</template>
<script>
import getCookie from '../../utilities/getcookie'
import jwtDecode from 'jwt-decode'
import axios from "axios";
import { baseUrl } from "@/constants/urlcontants";
import { mapState } from "vuex";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
export default {
  data(){
    return {
      collapsed: true,
    }
  },
   computed: {
   

    ...mapGetters({
      vendors: "getVendors"
    })
  },
   methods: {
   
    ...mapActions({
      getVendors: "getVendorsAction"
    })
    },
    mounted() {
    this.getVendors();
  
  }
}
</script>
<style>
#admincomponents-layout-demo-custom-trigger .trigger {
  font-size: 29px ;
     margin-left: -64%;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#admincomponents-layout-demo-custom-trigger .trigger:hover {
  color:rgb(0, 49, 139);
}

#admincomponents-layout-demo-custom-trigger .logo {
  height: 42px;
  
  margin: 16px;
}
</style>
