<template>
    <div class="settings"> 
    <a-tabs defaultActiveKey="1" tabPosition="right" >
         <a-tab-pane tab="Cuisine" key="1">
      <cuisine-master />
      </a-tab-pane>
     
      <a-tab-pane tab="Gallery" key="2">
         
          </a-tab-pane>
     
    </a-tabs>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
import CuisineMaster from './CuisineMaster'
import makerequest from '../../utilities/makerequest'
import { notification } from 'ant-design-vue'
export default {
    name:'Masters',
     components:{CuisineMaster},
   
   data(){
        return {
            
           
        }
    },
    methods:{
        
    },
    computed: {
      
   
  },
 
    mounted(){
    }
}
</script>
