<template>
<div>
        <a-row style="padding-bottom:5px">
          <a-input placeholder="Search Orders" v-model="forders" style="padding-bottom:5px;width: 63%;padding-left:5px;" />
          
          <a-input placeholder="Search by Vendors" v-model="fvendor" style="padding-bottom:5px;width: 18%;" />
        </a-row>
  <a-table :columns="columns" :dataSource="fOrder" bordered>
    <template slot="vendorDet.vendorId" slot-scope="text">
      <a @click="VendorDetails(text)">{{text}}</a>
    </template>
    <span slot="createdOn" slot-scope="time">
              {{moment(time).format("L")}} - {{moment(time).format("hh:mm a")}}
              
              <!-- {{time}} -->
              </span>
              <span slot="status" slot-scope="tag">
                <a-tag color="blue" :key="tag">{{tag}}</a-tag>
              </span>
  </a-table>
</div>
</template>
<script>
import makeRequest from '../../utilities/makerequest.js'
import moment from 'moment'
const columns = [{
  title: 'OrderId',
  dataIndex: '_id',
  scopedSlots: { customRender: '_id' },
}, {
  title: 'Customer Name',
  dataIndex: 'name',
}, {
  title: 'Mobile',
  dataIndex: 'mobile',
},
{
  title: 'VendorId',
  dataIndex: 'vendorDet.regName',
   scopedSlots: { customRender: 'vendorDet.regName' },
},
{
  title: 'Date/Time',
  dataIndex: 'createdOn',
   scopedSlots: { customRender: 'createdOn' },
},

{
  title: 'Total Amount',
  dataIndex: 'amount',
},{
  title: 'Status',
  dataIndex: 'status',
   scopedSlots: { customRender: 'status' },
}];



export default {
  data() {
    return {
      data:[],
      columns,
      moment,
      forders:"",
      fvendor:""
    }
  },
  computed:{ fOrder() {
  
        if (this.forders.trim().length)
  
          return this.data.filter((item) => item.name.toLowerCase().indexOf(this.forders.toLowerCase()) != -1 || item._id.toLowerCase().indexOf(this.forders.toLowerCase()) != -1 || item.status.toLowerCase().indexOf(this.forders.toLowerCase()) != -1)
        if (this.fvendor.trim().length)
  
          return this.data.filter((item) => item.vendorId.toLowerCase().indexOf(this.fvendor.toLowerCase()) != -1)
  
        
        else
          return this.data
      }},
  methods: {
      VendorDetails(id){
          makeRequest.getAuth('superadmin/ordersreport')
          .then((response) => {
            if (!response.data.error) {
              this.data = response.data.data;
              
            }
          
          })
          .catch((err) => {
            notification.error({
              message: "Something went wrong. Please contact admin"
            })
          })
      },
      fetchAllOrders(){
makeRequest.getAuth('superadmin/ordersreport')
          .then((response) => {
            if (!response.data.error) {
              this.data = response.data.data;
              
            }
          
          })
          .catch((err) => {
            notification.error({
              message: "Something went wrong. Please contact admin"
            })
          })
      
  }},
  mounted(){
      this.fetchAllOrders();
  }
}
</script>
<style>
th.column-money,
td.column-money {
  text-align: right !important;
}
</style>
