<template>
    <div class="settings"> 
    <a-tabs defaultActiveKey="1" tabPosition="right" >
         <a-tab-pane tab="General" key="1">
      <general-settings :AdminInfo="AdminInfo" :updateStore="updateStore" :updateAdmin="updateAdmin" />
         </a-tab-pane>
      <!-- <a-tab-pane tab="Operations" key="2">
    / <operation-settings :AdminInfo="AdminInfo" :updateStore="updateStore" :update="update" />
          </a-tab-pane> -->
      <a-tab-pane tab="Change Password" key="3">
          <ChangePasswordAdmin />
          </a-tab-pane>
     
    </a-tabs>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
 import GeneralSettings from './GeneralSettings'
// import OperationSettings from './OperationSettings'
 import ChangePasswordAdmin from './ChangePasswordAdmin'
import makerequest from '../../utilities/makerequest'
import { notification } from 'ant-design-vue'
export default {
    name:'Orders',
     components:{GeneralSettings ,ChangePasswordAdmin },
    data(){
        return {
            
           
        }
    },
    methods:{
        updateStore(e){
            console.log(this.AdminInfo);
            let info = {...this.AdminInfo}
            info[e.target.id || e.target.name] = e.target.value
            this.$store.commit('setVendorInfo',info)
            debugger
        },
        updateAdmin (){
        makerequest.postAuth("vendor/updatevendor",
       {
           data:this.AdminInfo
        }
        )
        .then((response)=>{
            if(!response.data.error){

            notification.success({
                message:"Saved"
            })
            }
            
        })
        .catch((response)=>{
           
            notification.error({
                message:response.response.data.data.message
            })
        })
        }
    },
    computed: {
        ...mapGetters({
           AdminInfo: "getVendorInfo"
        })
   
  },
 
    mounted(){
    }
}
</script>
