<template>
<div ><a-tabs defaultActiveKey="1" >
    <a-tab-pane tab="Pending for approval" key="1">   <a-input placeholder="Search Vendors" v-model="fvendors" style="padding-bottom:5px;width: 63%;padding-left:5px;" />
         
 
   <a-table :columns="columns"   :dataSource="fVendorPending" >
    <span slot="status"  class="table-operation" slot-scope="fVendorPending">
   
        <a-select :defaultValue="fVendorPending.status" @mouseup="setvendorId()" @change="()=>changeStatus(fVendorPending._id,value)">
   <!-- <a-select-option :value="vendors.status">{{vendors.status}}</a-select-option> -->
  <a-select-option value="approved">Approved</a-select-option>
</a-select>
      </span>
  
  </a-table>
   <a-modal
      title="Title"
      :visible="visible"
      @ok="handleOk"
      
      @cancel="handleCancel"
    >
      <p>{{ModalText}}</p>
    </a-modal></a-tab-pane>
    <a-tab-pane tab="Active Vendors" key="2" forceRender><a-list
       :dataSource="fVendorStatus"
      bordered
    >
      <a-list-item slot="renderItem" slot-scope="fVendorStatus">
        <a slot="actions" @click="showDrawer(fVendorStatus._id)">View Outlets/Items</a>
        <a-list-item-meta
          :description="fVendorStatus.mobile"
        >
          <a slot="title">{{fVendorStatus.regName}}</a>
           <a >{{fVendorStatus.email}}</a>
          <a-avatar slot="avatar" src="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png" />
        </a-list-item-meta>
      </a-list-item>
    </a-list> <a-drawer
      width=640
      placement="right"
      :closable="true"
      @close="onClose"
      :visible="drawer"
    >
    <a-list itemLayout="horizontal">
      <a-list-item style="cursor:pointer" v-for="outlet in outlets" :key="outlet._id" >
   <h3 >{{outlet.name}}</h3>
      </a-list-item>
    </a-list>
     
    </a-drawer></a-tab-pane>
  </a-tabs>

 
     
  
   
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import makerequest from '../../utilities/makerequest';
import axios from "axios";
import { baseUrl } from "@/constants/urlcontants";
import { mapState } from "vuex";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  components: {
    Header
  },

  data() {
    return {
      outlets:[],
      fvendors:'',
      show: false,
      alerttype: String,
      alertmessage: String,
      vendorid: String,
      ModalText: "Do you want to approve this vendor?",
      visible: false,
      drawer:false,
      columns: [
        { title: "Name", dataIndex: "regName", key: "regName" },
        { title: "Address", dataIndex: "address", key: "address" },
        { title: "Mobile", dataIndex: "mobile", key: "mobile" },
        {
          title: "Status",
          key: "action",
          scopedSlots: { customRender: "status" }
        }
      ],
  



    };
  },
  computed: {
   

    ...mapGetters({
      vendors: "getVendors"
    }),
     fVendors() {
  
        if (this.fvendors.trim().length)
  
          return this.vendors.filter((item) => item.regName.toLowerCase().indexOf(this.fvendors.toLowerCase()) != -1 )
       
        else
          return this.vendors
      },
      fVendorStatus(){
        return this.vendors.filter((item)=>item.status.toLowerCase()==='approved'||item.status.toLowerCase()==='sleep'||item.status.toLowerCase()==='active')
      },
      fVendorPending(){
        return this.vendors.filter((item)=>item.status.toLowerCase()==='pending'||item.status.toLowerCase()==='verified')
      },
  },

  methods: { showDrawer(id) {
      this.drawer = true
  
      makerequest.postAuth('outletbyvendor',{
          data:{
            vendorId:id,
            
          }
        })
        .then((response)=>{
      
    this.outlets=response.data.data
    console.log(this.outlets)
    })
        .catch((error)=>{
          notification.error({
            message:'something went wrong'
          })
         
        })
     
    
    },
    onClose() {
      this.drawer = false
    },
    handleCancel(e) {
      this.visible = false;
    },
    ...mapActions({
      getVendors: "getVendorsAction"
    }),
    changeStatus(id,value) {
      this.visible = true;
      this.vendorid = id;
    },
    handleOk() {
      var data = { data: { vendorId: this.vendorid,status:'approved'} };
      debugger;
      makerequest.postAuth('vendor/changestatus',data
        ).then(response => {
        this.visible = false;
        this.show = !this.show;
        this.alertmessage = "Approved Successfully";
        this.alerttype = "success";
      });
    },
 
        
  },
  mounted() {
    this.getVendors();
    
  }
};
</script>  
<style scoped>
.custom-filter-dropdown {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.highlight {
  background-color: rgb(255, 192, 105);
  padding: 0px;
}
#statuscomponents-layout-demo-basic {
  text-align: center;
  width: 106%;
}
#statuscomponents-layout-demo-basic .ant-layout-header {
  background: darkcyan;
  width: 106%;
}
#statuscomponents-layout-demo-basic .ant-layout-footer {
  background:black;
  color: #fff;
}
#statuscomponents-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#statuscomponents-layout-demo-basic .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  width: 258px;
}
#statuscomponents-layout-demo-basic .ant-layout-content {
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  background: white;
  width: 100%;
  padding: 10px 20px;
}
#statuscomponents-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#statuscomponents-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
#statuscomponents-layout-demo-basic > .header {
  text-align: center;
  line-height: 0;
  vertical-align: middle;
  padding: 0;
}
.reg_head {
  border-bottom: 1px solid rgb(235, 237, 242);
  display: table-cell;
  vertical-align: middle;
  text-align: left;

  font-size: large;
  font-weight: bold;
}
</style>
