<template>
<div>
        <a-row style="padding-bottom:5px">
          <a-input placeholder="Enter VendorId" v-model="vendorId" style="padding-bottom:5px;width: 63%;padding-left:5px;" />
         <a-button  style="     background-color: darkcyan;" type="primary"  >
            Search
          </a-button>
  </a-row>
  <!-- <a-table :columns="columns" :dataSource="fOrder" bordered>
    <template slot="vendorId" slot-scope="text">
      <a @click="VendorDetails(text)">{{text}}</a>
    </template>
    <span slot="createdOn" slot-scope="time">
              {{moment(time).format("L")}} - {{moment(time).format("hh:mm a")}}
              
             
              </span>
              <span slot="status" slot-scope="tag">
                <a-tag color="blue" :key="tag">{{tag}}</a-tag>
              </span>
  </a-table> -->
</div>
</template>
<script>
import makeRequest from '../../utilities/makerequest.js'
import moment from 'moment'
const columns = [{
  title: 'OrderId',
  dataIndex: '_id',
  scopedSlots: { customRender: '_id' },
}, {
  title: 'Customer Name',
  dataIndex: 'name',
}, {
  title: 'Mobile',
  dataIndex: 'mobile',
},
{
  title: 'VendorId',
  dataIndex: 'vendorId',
   scopedSlots: { customRender: 'vendorId' },
},
{
  title: 'Date/Time',
  dataIndex: 'createdOn',
   scopedSlots: { customRender: 'createdOn' },
},

{
  title: 'Total Amount',
  dataIndex: 'amount',
},{
  title: 'Status',
  dataIndex: 'status',
   scopedSlots: { customRender: 'status' },
}];



export default {
  data() {
    return {
      data:[],
      columns,
      moment,
      
      vendorId:""
    }
  },
  computed:{},
  methods: {
      VendorDetails(id){
          makeRequest.getAuth('superadmin/ordersreport')
          .then((response) => {
            if (!response.data.error) {
              this.data = response.data.data;
              
            }
          
          })
          .catch((err) => {
            notification.error({
              message: "Something went wrong. Please contact admin"
            })
          })
      },
      fetchOrders(){
makeRequest.getAuth('superadmin/ordersreport')
          .then((response) => {
            if (!response.data.error) {
              this.data = response.data.data;
              
            }
          
          })
          .catch((err) => {
            notification.error({
              message: "Something went wrong. Please contact admin"
            })
          })
      
  }},
  mounted(){
      this.fetchAllOrders();
  }
}
</script>
<style>
th.column-money,
td.column-money {
  text-align: right !important;
}
</style>
