
<template>
 
    <a-row type="flex">
     <a href="/"  style="margin-left: 8%;"> <a-icon type="home" /><br><h5>Home</h5></a>
     <a href="login" style="margin-left: 26%;"><a-icon type="user" /><br><h5>MyAccount</h5></a>
     <a href="" style="margin-left: 22%;"><a-icon type="gift" /><br><h5>Offers</h5></a>
    
    </a-row>
  
</template>