<template>
    <a-row>
      <a-col :span="8"></a-col>
      <a-col :span="8"></a-col>
      <a-col :span="8">
       

</a-col>

    </a-row>
 

</template>
<script>
export default {
 mounted(){
     this.top += 10
 }
}
</script>
<style >
.head{
   position: absolute;
        top: 20px;
    right: -25px;
    
}


</style>