<template>
<div id="components-form-demo-normal-login">
    <a-layout>
         <a-affix :offsetTop="0">
        <a-layout-header class="header"><Header /></a-layout-header><a-alert v-if = "show" v-bind:type="alerttype" v-bind:message="alertmessage" banner /></a-affix>
        
        <a-layout-content style="margin-right: 12%;"> 
        
          <div class="login_head">
    <div><h3 style="    text-align: center;
    font-weight: bold;margin-top: -9%;
    margin-bottom: -1.5em;">LogIn</h3></div></div>
  <a-form :form="form" class="login-form" @submit="handleSubmit">
    
  
    <a-form-item>
      <a-input
        v-decorator="[
          'email',
          { rules: [{ required: true, message: 'Please input your E-mailId!' }] }
        ]"
        placeholder="E-mailId">

        <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
      </a-input>
    </a-form-item>
    <a-form-item>
      <a-input
        v-decorator="[
          'password',
          { rules: [{ required: true, message: 'Please input your Password!' }] }
        ]"
        type="password"
        placeholder="Password">
        <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)"/>
      </a-input>
    </a-form-item>
    <a-form-item>
      
      <a
        class="login-form-forgot"
        href="forgotpassword">
        Forgot password
      </a>
      <a-button
        type="primary"
        html-type="submit"
        class="login-form-button"
      >
        Log in
      </a-button>
      Or <a href="vendorreg">
        register now!
      </a>
    </a-form-item>
  </a-form>

</a-layout-content>
 <!-- <a-layout-footer>  <p>&copy; 2019 yowza-techies.com</p></a-layout-footer> -->

   </a-layout>
   
  </div>
</template>

<script>

import Header from '@/components/Header.vue'
import axios from 'axios'
import setCookie from '../utilities/setcookie'
import makeRequest from '../utilities/makerequest'
import jwtDecode from 'jwt-decode'
export default {
  name: 'loginvendor',
  
  components:{
   Header
  },
data: function(){
  return {
    show:false,
    alerttype:String,
    alertmessage:String,
   vendorid:String
  }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this);
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
          var data = {"data" : values};
          
            makeRequest.postAuth(`auth/login`,data).then((response)=> {
              if(response.data.message=="success"){
                setCookie('token',response.data.data.token)
                setCookie('refreshToken',response.data.data.refreshToken)
                this.$store.commit('setVendorInfo',jwtDecode(response.data.data.token))
                if(response.data.data.userDetails.role=='superadmin')
                this.$router.push({path:"/superadmin/dashboard"})
                else
                this.$router.push({path:"/vendor/home"})
              }
             
            }).catch((response)=>{
              if(response.response.data.data.message=="Pending for approval"){
                this.show=true;
                this.alertmessage=response.response.data.data.message
                this.alerttype="info"
              }
             else if(response.response.data.data.message=="Invalid username or password"){
                this.show=true;
                this.alertmessage=response.response.data.data.message
                this.alerttype="error"
              }
            }) 
        }       
      });
    },
    handleConfirmBlur  (e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
  },
};

</script>
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

#components-form-demo-normal-login {
  text-align: center;
}
#components-form-demo-normal-login .ant-layout-header{
       background: darkcyan;
}
#components-form-demo-normal-login .ant-layout-footer {
  background: black;
  color: #fff;
}
#components-form-demo-normal-login .ant-layout-footer {
  /* line-height: 1.5; */
   text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
} 
#components-form-demo-normal-login .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  width: 258px
}
#components-form-demo-normal-login .ant-layout-content {
 
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  position: absolute;
    top: 84px;
    left: 42px;
}
#components-form-demo-normal-login > .ant-layout {
  margin-bottom: 48px;
}
#components-form-demo-normal-login > .ant-layout:last-child {
  margin: 0;
}
#components-form-demo-normal-login > .header {
     text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
}
.login_head{
   border-bottom: 1px solid rgb(235, 237, 242);
    display: table-cell;
    vertical-align: middle;
    text-align: left;
   
    font-size: large;
    font-weight: bold;
}

</style>