<template>
  <div id="components-layout-demo-basic">
    

    <a-layout>
     
      <a-layout>
         <a-affix :offsetTop="0">
        <a-layout-header class="header"><Header /></a-layout-header><a-alert v-if = "show" v-bind:type="alerttype" v-bind:message="alertmessage" banner /></a-affix>
        <a-layout-content> 
            <div class="reg_head">
    <div><h3 style="    text-align: center;
    font-weight: bold;margin-top: -9%;
    margin-bottom: -1.5em;">{{heading}}</h3></div></div>
            <a-form
    :form="form"
    @submit="handleSubmit"
    v-if="reg"
  >
  
 
   <a-form-item
       v-bind="formItemLayout"
    >
      <span slot="label">
       Restaurant Name&nbsp;
       
      </span>
      <a-input
        v-decorator="[
          'regName',
          {
            rules: [{ required: true, message: 'Please input your  restaurant name!', whitespace: true }]
          }
        ]"
         placeholder="Restaurant Name"
      />
    </a-form-item>
     
     
     <a-form-item
      v-bind="formItemLayout"
    >
      <span slot="label">
       Vendor Name&nbsp;
       
      </span>
      <a-input
        v-decorator="[
          'name',
          {
            rules: [{ required: true, message: 'Please input your  vendor name!', whitespace: true }]
          }
        ]"
         placeholder="Vendor Name"
      />
    </a-form-item>
    
     <a-form-item
      v-bind="formItemLayout"
      label="VendorMobile"
    >
      <a-input
        v-decorator="[
          'mobile',
          {
            rules: [{ required: true, message: 'Please input vendor mobile number!' }],
          }
        ]"
        placeholder="Vendor Mobile"
        style="width: 100%"
      >
        <a-select
          slot="addonBefore"
          v-decorator="[
            'mobilecode',
            { initialValue: '91' }
          ]"
          style="width: 70px"
        >
          <a-select-option value="91">
            +91
          </a-select-option>
          <a-select-option value="00">
            00
          </a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
  
    <a-form-item
      v-bind="formItemLayout"
      label="Vendor E-mail"
    >
      <a-input
        v-decorator="[
          'email',
          {
            rules: [{
              type: 'email', message: 'The input is not valid Vendor E-mail!',
            }, {
              required: true, message: 'Please input vendor E-mail!',
            }],
            
          }
        ]"
        placeholder="Vendor E-mail"
      />
    </a-form-item>
    <a-form-item
      v-bind="formItemLayout"
    >
      <span slot="label">
       Vendor Address&nbsp;
       
      </span>
      <a-input
        v-decorator="[
          'address',
          {
            rules: [{ required: true, message: 'Please input your  vendor address!', whitespace: true }]
          }
        ]"
         placeholder="Vendor Address"
      />
    </a-form-item>
    
      <a-form-item
      v-bind="formItemLayout"
      label="Password"
    >
      <a-input
        v-decorator="[
          'password',
          {
            rules: [{
              required: true, message: 'Please input your password!',
            }, {
              validator: validateToNextPassword,
            }],
          }
        ]"
        type="password"
        placeholder="Password"
      />
    </a-form-item>
    <a-form-item
      v-bind="formItemLayout"
      label="Confirm Password"
    >
      <a-input
        v-decorator="[
          'cnfrm',
          {
            rules: [{
              required: true, message: 'Please confirm your password!',
            }, {
              validator: compareToFirstPassword,
            }],
          }
        ]"
        type="password"
        placeholder="Confirm Password"
        @blur="handleConfirmBlur"
      />
    </a-form-item>

  
   
      
    <a-form-item v-bind="tailFormItemLayout">
      <a-button style="     background-color: darkcyan;   width: 100%;"
        type="primary"
        html-type="submit"
      >
        Register
      </a-button>
      
    
    </a-form-item>
  </a-form>
  <div v-if = "otp" >
   <a-steps :current="1">
    <a-step>
      <span slot="title">Registration</span>
      
      
    </a-step>
    <a-step title="OTP Verification" />
    <a-step title="Login"  />
  </a-steps>
   <a-form
    :form="form"
    @submit="Verify"
  >
    <a-form-item
     
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 12 }"
        
      label="OTP Verification"
      has-feedback
      validate-status="validating"
      help="OTP has been sent on your mobile number"
    >
      <a-input
        v-decorator="[
          'otp',
          {rules: [{ required: true, message: 'Please input your otp!' }]}
        ]" 
        id="validating"
        placeholder="OTP"
      />
    </a-form-item>
   
    <a-form-item
      :wrapper-col="{ span: 12, offset: 5 }"
    >
      <a-button
        type="primary"
        html-type="submit"
      >
       Verify
      </a-button>
    </a-form-item>
  </a-form></div>
  </a-layout-content>
        <a-layout-footer>  <p>&copy; 2019 yowza-techies.com</p></a-layout-footer>
      </a-layout>
    </a-layout>
  </div>
</template>
<script>
import Header from '@/components/Header.vue'
import Menu from '@/components/Menu.vue'
import axios from 'axios'
import {baseUrl} from '@/constants/urlcontants'

export default {
  name: 'vendorreg',
  
  components:{
   Header,
   Menu
  },
  data: function(){
  return {
    show:false,
    otp:false,
    reg:true,
    vendorid:String,
    mobile:String,
    alerttype:String,
    alertmessage:String,
    heading:"Vendor Registration",
      confirmDirty: false,
      autoCompleteResult: [],
      formItemLayout: {
        labelCol: {
          xs: { span: 24 },
          sm: { span: 8 },
        },
        wrapperCol: {
          xs: { span: 24 },
          sm: { span: 16 },
        },
      },
      tailFormItemLayout: {
        wrapperCol: {
          xs: {
            span: 24,
            offset: 0,
          },
          sm: {
            span: 16,
            offset: 8,
          },
        },
      },
    };
  },
  beforeCreate () {
    this.form = this.$form.createForm(this);
  },
  methods: {
    
    handleSubmit  (e) {
      e.preventDefault();
      
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          
          
          var data = {"data" : values};
           axios.post(`${baseUrl}vendor/apply`,data).then ((response)=> {
          
               if(response.data.message=="success"){
              this.otp=!this.otp
              this.reg=!this.reg
              this.heading="OTP Verification"
              this.vendorid=response.data.data._id,
              this.mobile=values.mobile
               }
              
            }).catch((response)=>{
                 this.show=!this.show;
                this.alertmessage="This Details Already Exists"
                this.alerttype="error"
                
                    })
            


        }

      });
    },
    Verify (e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          
          var otpdata = {
            
                       "data" : {
                                "otp":values.otp,
                                "mobile":this.mobile,
                                "vendorId":this.vendorid
                                }
                                };
                                debugger
           axios.post(`${baseUrl}verify-otp`,otpdata).then ((response)=> {
          if(response.data.type=="success"){
              this.$router.push({path:'/loginvendor'})}
              if(response.data.type=="error"){
                this.show=!this.show;
                this.alertmessage="Already Verified"
                this.alerttype="error"}
            }).catch((response)=>{
                 this.show=!this.show;
                this.alertmessage="Wrong OTP"
                this.alerttype="error"
                
                    })
        }
      });
    },
    handleConfirmBlur  (e) {
      const value = e.target.value;
      this.confirmDirty = this.confirmDirty || !!value;
    },
    compareToFirstPassword  (rule, value, callback) {
      const form = this.form;
      if (value && value !== form.getFieldValue('password')) {
        callback('Two passwords that you enter is inconsistent!');
      } else {
        callback();
      }
    },
    validateToNextPassword  (rule, value, callback) {
      const form = this.form;
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true });
      }
      callback();
    }
  
  } 
}
</script>

<style>
#components-layout-demo-basic {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-header{
       background: darkcyan;
}
#components-layout-demo-basic .ant-layout-footer {
  background:black;
  color: #fff;
}
#components-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#components-layout-demo-basic .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
  width: 258px
}
#components-layout-demo-basic .ant-layout-content {
 
  color: #fff;
  min-height: 120px;
  line-height: 120px;
      background: white;
   width: 100%;
    padding: 10px 20px;
}
#components-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
#components-layout-demo-basic > .header {
     text-align: center;
    line-height: 0;
    vertical-align: middle;
    padding: 0;
}
.reg_head{
        border-bottom: 1px solid rgb(235, 237, 242);
    display: table-cell;
    vertical-align: middle;
    text-align: left;
   
    font-size: large;
    font-weight: bold;
       
   
    
}

</style>
